{% load static %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Password Reset | Log Support</title>

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'admin/img/favicon.png' %}">

    <link rel="stylesheet" href="{% static 'admin/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'admin/css/feather.css' %}">

    <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
</head>

<body>

    <div class="main-wrapper">
        <div class="header d-none">

            <ul class="nav nav-tabs user-menu">

                <li class="nav-item">
                    <a href="#" id="dark-mode-toggle" class="dark-mode-toggle">
                        <i class="feather-sun light-mode"></i><i class="feather-moon dark-mode"></i>
                    </a>
                </li>

            </ul>

        </div>
        <div class="row">

            <div class="col-md-6 login-bg">
                <div class="login-banner"></div>
            </div>

            <div class="col-md-6 login-wrap-bg">

                <div class="login-wrapper">
                    <div class="loginbox">
                        <div class="img-logo">
                            <img src="{% static 'admin/img/logo.png' %}" class="img-fluid" alt="Logo">
                        </div>
                        <h3>Réinitialiser le mot de passe</h3>

                        {% if token_fail %}
                        <div class="alert alert-danger text-center mb-4 mt-4 pt-2" role="alert">
                            Mauvais demande
                        </div>
                        {% else %}
                        <div class="alert alert-success text-center mb-4 mt-4 pt-2" role="alert">
                            Changer le mot de passe
                        </div>
                        {% endif %}

                        {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>
                            Le lien de réinitialisation du mot de passe n'était pas valide, peut-être parce qu'il a déjà
                            été utilisé. Veuillez en essayer un autre.

                        <div class="row mb-0 pt-3">
                            <div class="col-12 text-center">
                                <button class="btn btn-primary w-md waves-effect waves-light" type="submit">
                                    <a href="{{ passwd_reset_url }}" style="color: white;">Nouveau mot de passe</a>
                                </button>
                            </div>
                        </div>
                        </p>
                        {% else %}
                        {% if form %}

                        <form class="form-horizontal" method="POST" action=".">{% csrf_token %}
                            <div class="row">
                                <div class="mb-3">
                                    {{ form.password1|as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3">
                                    {{ form.password2|as_crispy_field }}
                                </div>
                            </div>

                            <div class="row mb-0 pt-3">
                                <div class="col-12 text-center">
                                    <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Changer
                                        le mot de passe</button>
                                </div>
                            </div>

                        </form>
                        {% else %}
                        <div class="alert alert-success text-center mb-4 mt-4 pt-2" role="alert">
                            Votre mot de passe est maintenant modifié.
                        </div>
                        {% endif %}
                        {% endif %}


                    </div>
                </div>

            </div>
        </div>
    </div>


    <script src="{% static 'admin/js/jquery-3.6.0.min.js' %}"></script>

    <script src="{% static 'admin/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'admin/js/script.js' %}"></script>


</body>

</html>