{% extends "landing/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Appointment Pharmacist{% endblock %}


{% block content %}

<section class="contact-form">
    <div class="container">
        <div class="section-header text-center">
            <h2>Prendre un  Rendez-vous!</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form method="POST">{% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                              {{ form.patient|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                              {{ form.date|as_crispy_field }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                            {{ form.hour|as_crispy_field }}
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                            {{ form.subject|as_crispy_field }}
                          </div>
                      </div>
                  </div>
                  
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                              {{ form.description|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    
                    
                    <button class="btn bg-primary">Reserver</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock  %}