{% extends "dashboard/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}About{% endblock %}


{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid pb-0">
        <h4 class="mb-3">Overview</h4>
        <div class="row">
            <div class="col-xl-4 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-warning">
                                <img src="{% static 'admin/img/icon/calendar.png' %}" alt="User Image">
                            </span>
                            <div class="dash-count">
                                <h5 class="dash-title">Rendez-vous</h5>
                                <div class="dash-counts">
                                    <p>{{ appointment_count }}</p>
                                </div>
                            </div>
                        </div>
                        <p class="trade-level mb-0">
                            <!-- <span class="text-success me-1">
                                <i class="fas fa-caret-up me-1"></i>9.65%</span> last week -->
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-blue">
                                <i class="feather-users"></i>
                            </span>
                            <div class="dash-count">
                                <h5 class="dash-title">Symptôme</h5>
                                <div class="dash-counts">
                                    <p>{{ symptoms_count }}</p>
                                </div>
                            </div>
                        </div>
                        <p class="trade-level mb-0">
                            <!-- <span class="text-success me-1">
                                <i class="fas fa-caret-up me-1"></i>4.5%</span> last week -->
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-blue">
                                <i class="feather-users"></i>
                            </span>
                            <div class="dash-count">
                                <h5 class="dash-title">Ordonnance</h5>
                                <div class="dash-counts">
                                    <p>{{ prescription_count }}</p>
                                </div>
                            </div>
                        </div>
                        <p class="trade-level mb-0">
                            <!-- <span class="text-success me-1">
                                <i class="fas fa-caret-up me-1"></i>4.5%</span> last week -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}