{% extends "dashboard/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Bon de Commande{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'admin/css/feather.css' %}">

<link rel="stylesheet" href="{% static 'admin/plugins/daterangepicker/daterangepicker.css' %}">

<link rel="stylesheet" href="{% static 'admin/plugins/select2/css/select2.min.css' %}">

<link rel="stylesheet" href="{% static 'admin/plugins/datatables/datatables.min.css' %}">
{% endblock %}

{% block content %}

<div class="page-wrapper">

    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-12">
                {% include 'message.html' %}
                <div class="card">
                    <div class="card-header border-bottom-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h5 class="card-title">Bon de Commande</h5>
                            </div>
                        </div>
                    </div>

                    <div class="page-header">
                        <div class="row align-items-center">
                            <div class="col-md-12 d-flex justify-content-end">
                                <div class="doc-badge me-3"><a href="/">Accueil</a></div>
                                <div class="doc-badge me-3"><a href="/patient/">Tableau de bord</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="datatable table table-borderless hover-table" id="data-table">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Reçu par</th>
                                        <th>Poids</th>
                                        <th>Température</th>
                                        <th>Dose / Cible</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for prescription in prescriptions %}
                                    {% include 'patient/prescription-detail.html' with prescription=prescription %}
                                        <tr>
                                            <td>
                                                {% if prescription.received_by.first_name or prescription.received_by.last_name %}
                                                    <a href="patient-list.html#" data-bs-target="#patientlist-{{ forloop.counter }}"
                                                    data-bs-toggle="modal">{{ prescription.received_by.first_name }} {{ prescription.received_by.last_name }}
                                                    </a>
                                                {% else %}
                                                    <a href="patient-list.html#" data-bs-target="#patientlist-{{ forloop.counter }}"
                                                    data-bs-toggle="modal">Manqué</a>
                                                {% endif %}
                                            </td>
                                            <td>{{ prescription.weight }}kg</td>
                                            <td>{{ prescription.body_temperature }} %c</td>
                                            <td>{{ prescription.price }}f cfa</td>
                                            <td class="text-warning">{{ prescription.timestamp|date:"d M Y" }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}



{% block extra_javascript %}
<script src="{% static 'admin/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/plugins/datatables/datatables.min.js' %}"></script>

<script src="{% static 'admin/js/moment.min.js' %}"></script>
<script src="{% static 'admin/plugins/daterangepicker/daterangepicker.js' %}"></script>

<script src="{% static 'admin/plugins/select2/js/select2.min.js' %}"></script>

<script src="{% static 'admin/js/script.js' %}"></script>
{% endblock %}