{% extends "dashboard/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Invoice{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'admin/css/feather.css' %}">

<link rel="stylesheet" href="{% static 'admin/plugins/daterangepicker/daterangepicker.css' %}">

<link rel="stylesheet" href="{% static 'admin/plugins/select2/css/select2.min.css' %}">

<link rel="stylesheet" href="{% static 'admin/plugins/datatables/datatables.min.css' %}">
{% endblock %}

{% block content %}
<style>
    html {
        height: 100%;
    }

    body {
        background-color: #fff;
        color: #272b41;
        font-family: poppins, sans-serif;
        font-size: .9375rem;
        height: 100%;
        overflow-x: hidden;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #272b41;
        font-weight: 500;
    }

    .h1,
    h1 {
        font-size: 2.25rem;
    }

    .h2,
    h2 {
        font-size: 1.875rem;
    }

    .h3,
    h3 {
        font-size: 1.5rem;
    }

    .h4,
    h4 {
        font-size: 1.125rem;
    }

    .h5,
    h5 {
        font-size: 1rem;
    }

    .h6,
    h6 {
        font-size: .875rem;
    }

    a {
        color: #2e3842;
    }

    a:hover {
        color: #09dca4;
    }

    .table {
        color: #272b41;
        max-width: 100%;
        margin-bottom: 0;
        width: 100%;
    }

    .table-striped>tbody>tr:nth-of-type(2n+1) {
        background-color: #f8f9fa;
    }

    .table.no-border>tbody>tr>td,
    .table>tbody>tr>th,
    .table.no-border>tfoot>tr>td,
    .table.no-border>tfoot>tr>th,
    .table.no-border>thead>tr>td,
    .table.no-border>thead>tr>th {
        border-top: 0;
        padding: 10px 8px;
    }

    .table-nowrap td,
    .table-nowrap th {
        white-space: nowrap;
    }

    .table.dataTable {
        border-collapse: collapse !important;
    }

    table.table td h2 {
        display: inline-block;
        font-size: inherit;
        font-weight: 400;
        margin: 0;
        padding: 0;
        vertical-align: middle;
    }

    table.table td h2.table-avatar {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        font-size: inherit;
        font-weight: 400;
        margin: 0;
        padding: 0;
        vertical-align: middle;
        white-space: nowrap;
    }

    table.table td h2 a {
        color: #272b41;
    }

    table.table td h2 a:hover {
        color: #10defd;
    }

    table.table td h2 span {
        color: #888;
        display: block;
        font-size: 12px;
        margin-top: 3px;
    }

    .table thead {
        border-bottom: 1px solid rgba(0, 0, 0, .03);
    }

    .table thead tr th {
        border-bottom: 1px solid rgba(0, 0, 0, .05);
    }

    .table tbody tr {
        border-bottom: 1px solid rgba(0, 0, 0, .05);
    }

    .table tbody tr:last-child {
        border-color: transparent;
    }
    
    .table.table-center td,
    .table.table-center th {
        vertical-align: middle;
    }
    
    .table-hover tbody tr:hover td {
        color: #474648;
    }
    
    .table-striped thead tr {
        border-color: transparent;
    }
    
    .table-striped tbody tr {
        border-color: transparent;
    }
    
    .table-striped tbody tr:nth-of-type(even) {
        background-color: rgba(255, 255, 255, .3);
    }
    
    .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(235, 235, 235, .4);
    }
    
    .table-bordered {
        border: 1px solid rgba(0, 0, 0, .05) !important;
    }
    
    .table-bordered th,
    .table-bordered td {
        border-color: rgba(0, 0, 0, .05);
    }
    
    .card-table .card-body {
        padding: 0;
    }
    
    .card-table .card-body .table>thead>tr>th {
        border-top: 0;
    }
    
    
    
    .card-table .table tr td:last-child,
    .card-table .table tr th:last-child {
        padding-right: 1.5rem;
    }
    
    .card-table .table td,
    .card-table .table th {
        border-top: 1px solid #e2e5e8;
        padding: 1rem .75rem;
        white-space: nowrap;
    }
    
    
    
    table.table td,
    table.table th {
        border-color: #dee2e6;
    }
    
    .table-bordered td,
    .table-bordered th {
        border: 1px solid #dee2e6;
    }
    
    .breadcrumb-bar {
        background-color: #15558d;
        padding: 15px 0;
    }
    
    .breadcrumb-bar-one {
        background-color: #3e5463;
    }
    
    .breadcrumb-bar-two {
        background-color: #00284f;
    }
    
    .breadcrumb-bar-three {
        background-color: #0071dc;
    }
    
    .breadcrumb-bar-four {
        background-color: #263238;
    }
    
    .breadcrumb-bar-five {
        background-color: #15558d;
    }
    
    .breadcrumb-bar-six {
        background: url(../img/ban-bg-01.png), url(../img/ban-bg-02.png), #f8f8f8;
        background-position: left, right;
        background-repeat: no-repeat;
        padding: 40px 0;
    }
    
    .breadcrumb-bar .breadcrumb-title {
        color: #fff;
        font-size: 22px;
        font-weight: 700;
        margin: 5px 0 0;
    }
    
    .breadcrumb-bar-six .breadcrumb-title {
        font-size: 32px;
        font-weight: 600;
        margin: 0 0 10px;
    }
    
    .breadcrumb-bar-six .page-breadcrumb ol {
        font-size: 16px;
    }
    
    .page-breadcrumb ol {
        background-color: transparent;
        font-size: 12px;
        margin-bottom: 0;
        padding: 0;
    }
    
    .breadcrumb-bar-six .page-breadcrumb ol li a,
    .breadcrumb
    -bar-six .page-breadcrumb ol li.active {
    color: rgba(39, 43, 65, .5);
    font-weight: 500;
    }

    .breadcrumb-bar-six .page-breadcrumb ol li a:hover {
        color: #0de0fe;
    }
    
    .page-breadcrumb ol li a {
        color: #fff;
    }
    
    .page-breadcrumb ol li.active {
        color: #fff;
    }
    
    .page-breadcrumb .breadcrumb-item+.breadcrumb-item:before {
        color: #fff;
        font-size: 10px;
    }
    
    .breadcrumb-bar-six .page-breadcrumb .breadcrumb-item+.breadcrumb-item:before {
        color: rgba(39, 43, 65, .5);
        font-family: "font awesome 5 free";
        padding-right: 6px;
        vertical-align: middle;
        content: "\f105";
        color: #a2a1a1;
        font-size: 16px;
        font-weight: 700;
    }
    
    .invoice-content {
        background-color: #fff;
        border: 1px solid #f0f0f0;
        border-radius: 4px;
        margin-bottom: 30px;
        padding: 30px;
    }
    
    .invoice-item .invoice-logo {
        margin-bottom: 30px;
    }
    
    .invoice-item .invoice-logo img {
        width: auto;
        max-height: 52px;
    }
    
    .invoice-item .invoice-text h2 {
        color: #272b41;
        font-size: 36px;
        font-weight: 600;
    }
    
    .invoice-item .invoice-details {
        text-align: right;
        color: #757575;
        font-weight: 500;
    }
    
    .invoice-item .invoice-details strong {
        color: #272b41;
    }
    
    .invoice-item .invoice-details-two {
        text-align: left;
    }
    
    .invoice-item .invoice-text {
        padding-top: 42px;
        padding-bottom: 36px;
    }
    
    .invoice-item .invoice-text h2 {
        font-weight: 400;
    }
    
    .invoice-info {
        margin-bottom: 30px;
    }
    
    .invoice-info p {
        margin-bottom: 0;
    }
    
    .invoice-info.invoice-info2 {
        text-align: right;
    }
    
    .invoice-item .customer-text {
        font-size: 18px;
        color: #272b41;
        font-weight: 600;
        margin-bottom: 8px;
        display: block;
    }
    
    .invoice-table tr th,
    .invoice-table tr td,
    .invoice-table-two tr th,
    .invoice-table-two tr td {
        color: #272b41;
        font-weight: 600;
        padding: 10px 20px;
        line-height: inherit;
    }
    
    .invoice-table tr td,
    .invoice-table-two tr td {
        color: #757575;
        font-weight: 500;
    }
    
    .invoice-table-two {
        margin-bottom: 0;
    }
    
    .invoice-table-two tr th,
    .invoice-table-two tr td {
        border-top: 0;
    }
    
    .invoice-table-two tr td {
        text-align: right;
    }
    
    .invoice-info h5 {
        font-size: 16px;
        font-weight: 500;
    }
    
    .other-info {
        margin-top: 10px;
    }
    
    .tab-content.schedule-cont .card-title {
        margin-bottom: 10px;
    }
    
</style>



<div class="breadcrumb-bar">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-12 col-12">
          <nav aria-label="breadcrumb" class="page-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="index.html">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Invoice View</li>
            </ol>
          </nav>
          <h2 class="breadcrumb-title">Invoice View</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="page-header">
    <div class="row align-items-center">
        <div class="col-md-12 d-flex justify-content-end">
            <div class="doc-badge me-3"><a href="/">Accueil</a></div>
            <div class="doc-badge me-3"><a href="/dashboard/">Tableau de bord</a></div>
            
        </div>
    </div>
</div>


    
<div class="content">

    <div class="container-fluid">
        
            <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="invoice-content">
                <div class="invoice-item">
                    <div class="row">
                    <div class="col-md-6">
                        <div class="invoice-logo">
                        <img src="/static/assets/img/logsup.png" style="height: 70px; width:70px" alt="logo">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="invoice-details">
                        <strong>Num Commande: </strong>#00124 <br>
                        <strong>Délivré:</strong> {{invoice.issued_date}}
                        </p>
                    </div>
                    </div>
                </div>
                <div class="invoice-item">
                    <div class="row">
                    <div class="col-md-6">
                        <div class="invoice-info">
                        <strong class="customer-text">Type de Facturation: {{invoice.invoice_type}}</strong>
                        <p class="invoice-details invoice-details-two"> {{invoice.doc_name}} <br> {{invoice.doc_phone }}, <br> {{invoice.doc_address}} <br>
                        </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="invoice-info invoice-info2">
                        <strong class="customer-text">Facture à</strong>
                        <p class="invoice-details">{{invoice.customer_name }} <br> {{invoice.customer_phone}}, <br> {{invoice.customer_address}} <br>
                        </p>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="invoice-item">
                    <div class="row">
                    <div class="col-md-12">
                        <div class="invoice-info">
                        <strong class="customer-text">Mode de paiement</strong>
                        <p class="invoice-details invoice-details-two"> {{invoice.payment_mode}} <br> {{invoice.payment_date }} <br>
                        </p>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="invoice-item invoice-table-wrap">
                    <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                        <table class="invoice-table table table-bordered">
                            <thead>
                            <tr>
                                <th>Designation</th>
                                <th class="text-center">Quantite</th>
                                <th class="text-center">Prix</th>
                                <th class="text-end">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                                
                            <tr>
                                <td>{{invoice.description}}</td>
                                <td class="text-center">{{invoice.quantity}}</td>
                                <td class="text-center">{{invoice.unity_price}} f cfa</td>
                                <td class="text-end">{{invoice.total}} f cfa</td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </div> 
                    <div class="col-md-6 col-xl-4 ms-auto">
                        <div class="table-responsive">
                        <table class="invoice-table-two table">
                            <tbody>
                            
                            <tr>
                                <th>TVA:</th>
                                <td>
                                <span>{{invoice.vat}} %</span>
                                </td>
                            </tr>
                            <tr>
                                <th>Total Glogal:</th>
                                <td>
                                <span>1000 f cfa</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                    </div>
                </div>
                <!--<div class="other-info">
                    <h4>Other information</h4>
                    <p class="text-muted mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed dictum ligula, cursus blandit risus. Maecenas eget metus non tellus dignissim aliquam ut a ex. Maecenas sed vehicula dui, ac suscipit lacus. Sed finibus leo vitae lorem interdum, eu scelerisque tellus fermentum. Curabitur sit amet lacinia lorem. Nullam finibus pellentesque libero.</p>
                </div>-->
                </div>
            </div>
            </div>
        
    </div>

</div>


{% endblock %}



{% block extra_javascript %}
<script src="{% static 'admin/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/plugins/datatables/datatables.min.js' %}"></script>

<script src="{% static 'admin/js/moment.min.js' %}"></script>
<script src="{% static 'admin/plugins/daterangepicker/daterangepicker.js' %}"></script>

<script src="{% static 'admin/plugins/select2/js/select2.min.js' %}"></script>

<script src="{% static 'admin/js/script.js' %}"></script>
{% endblock %}