{% extends "dashboard/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Abonné(e){% endblock %}


{% block content %}


<div class="page-wrapper">
    <div class="content container-fluid">
      <div class="page-header">
        <div class="row align-items-center">
          <div class="col-md-12 d-flex justify-content-end">
            <div class="doc-badge me-3">Total Notifications<span class="ms-1">48</span>
            </div>
            <div class="SortBy">
              <div class="selectBoxes order-by">
                <p class="mb-0">
                  <img src="{% static 'assets/img/icon/sort.png' %}" class="me-2" alt="icon"> Order by
                </p>
                <span class="down-icon">
                  <i class="feather-chevron-down"></i>
                </span>
              </div>
              <div id="checkBox">
                <form action="patient-list.html">
                  <p class="lab-title">Specialities</p>
                  <label class="custom_radio w-100">
                    <input type="radio" name="year">
                    <span class="checkmark"></span> Number of Appointment </label>
                  <label class="custom_radio w-100">
                    <input type="radio" name="year">
                    <span class="checkmark"></span> Total Income </label>
                  <label class="custom_radio w-100 mb-4">
                    <input type="radio" name="year">
                    <span class="checkmark"></span> Ratings </label>
                  <p class="lab-title">Sort By</p>
                  <label class="custom_radio w-100">
                    <input type="radio" name="sort">
                    <span class="checkmark"></span> Ascending </label>
                  <label class="custom_radio w-100 mb-4">
                    <input type="radio" name="sort">
                    <span class="checkmark"></span> Descending </label>
                  <button type="submit" class="btn w-100 btn-primary">Apply</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="card-title">Notifications</h5>
                </div>
                <div class="col-auto custom-list d-flex">
                  <div class="form-custom me-2">
                    <div id="tableSearch" class="dataTables_wrapper"></div>
                  </div>
                  <div class="multipleSelection">
                    <div class="selectBox">
                      <p class="mb-0">
                        <i class="feather-filter me-1"></i> Filter
                      </p>
                      <span class="down-icon">
                        <i class="feather-chevron-down"></i>
                      </span>
                    </div>
                    <div id="checkBoxes">
                      <form action="patient-list.html">
                        <p class="lab-title">By Account status</p>
                        <div class="selectBox-cont">
                          <label class="custom_check w-100">
                            <input type="checkbox" name="acc" checked>
                            <span class="checkmark"></span> Enabled </label>
                          <label class="custom_check w-100">
                            <input type="checkbox" name="acc">
                            <span class="checkmark"></span> Disabled </label>
                          <p class="lab-title">By Blood Type</p>
                          <label class="custom_check w-100">
                            <input type="checkbox" name="year">
                            <span class="checkmark"></span> AB+ </label>
                          <label class="custom_check w-100">
                            <input type="checkbox" name="year">
                            <span class="checkmark"></span> O- </label>
                          <label class="custom_check w-100">
                            <input type="checkbox" name="year">
                            <span class="checkmark"></span> B- </label>
                          <label class="custom_check w-100">
                            <input type="checkbox" name="year">
                            <span class="checkmark"></span> A+ </label>
                          <label class="custom_check w-100 mb-4">
                            <input type="checkbox" name="year">
                            <span class="checkmark"></span> B+ </label>
                        </div>
                        <button type="submit" class="btn w-100 btn-primary">Apply</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="datatable table table-borderless hover-table" id="data-table">
                  <thead class="thead-light">
                    <tr>
                      
                      <th>Contact</th>
                      <th>Appointment</th>
                      <th>Subject</th>
                      <th>Read</th>
                     
                    </tr>
                  </thead>
                  <tbody>
                    {% for notification in notifications %}
                    <tr>
                      <td>
                        <h2 class="table-avatar">
                          <!--<a href="patient-list.html#" data-bs-target="#patientlist" data-bs-toggle="modal">
                            <img class="avatar avatar-img" src="{% static 'assets/img/profiles/avatar-07.jpg' %}" alt="User Image">
                          </a>-->
                          <a href="patient-list.html#" data-bs-target="#patientlist" data-bs-toggle="modal">
                            <!--{% if notification.contact %}-->
                                <!--<span class="user-name">{{ notification.contact.first_name }} {{ notification.contact.last_name }}</span>-->
                            <!--{% else %}-->
                                <span class="user-name">Narcis Franck</span>
                            <!--{% endif %}-->
                            <span class="text-muted">Male, 40 Years Old</span>
                          </a>
                        </h2>
                      </td>
                      <td>
                        <span class="user-name">{{notification.appointment.date}} </span>
                        <span class="d-block">{{notification.appointment.hour}}</span>
                      </td>
                      <td>{{notification.subject}}</td>
                      <td>
                        {% if notification.read %}
                            <span class="badge bg-badge-grey text-success"><i class="fas fa-circle me-1"></i> Lu</span>
                        {% else %}
                            <span class="badge bg-badge-grey text-danger"><i class="fas fa-circle me-1"></i> Non lu</span>
                        {% endif %}
                    </td>
                    </tr>
                    {% endfor %}
                    
                    
                    
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div id="tablepagination" class="dataTables_wrapper"></div>
        </div>
      </div>
    </div>
  </div>
  {% for notification in notifications %}
  <div class="modal fade contentmodal" id="patientlist" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content doctor-profile">
        <div class="modal-header justify-content-center border-bottom-0">
          <h4 class="modal-title">Notification Details</h4>
          <button type="button" class="close-btn pos-top" data-bs-dismiss="modal" aria-label="Close">
            <i class="feather-x-circle"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="media d-flex align-items-center justify-content-between">
            <div class="flex-shrink-0 d-flex align-items-center">
              <img src="{% static 'assets/img/profiles/avatar-02.jpg' %}" alt="patient" class="doctor">
              <div>
                
                <h3>Harden Mike</h3>
                <p>Male, 45 Years</p>
              </div>
            </div>
          </div>
          <div class="member-wrapper">
            <h5>Personal Details</h5>
            <div class="row">
              <div class="col-sm-4">
                <div class="mem-info">
                  <h6>Registered On</h6>
                  <p>Nov 21, 2022</p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="mem-info">
                  <h6>Phone Number</h6>
                  <p>+1 5454 2154 4545</p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="mem-info">
                  <h6>Email ID</h6>
                  <p>
                    <a href="https://doccure.dreamguystech.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="9adef5f9eef5e8dadef5f9f9efe8ffb4f9f5f7">[email&#160;protected]</a>
                  </p>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="mem-info">
                  <h6>Description</h6>
                  <p>4417 Goosetown Drive, Taylorsville, North Carolina, 28681</p>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="mem-info">
                  <h6>Date and Hour of Appointment</h6>
                  <p>21, Dec 2022</p>
                </div>
              </div>
            </div>
          </div>
         
          <div class="submit-section">
            <a data-bs-dismiss="modal" data-bs-toggle="modal" href="patient-list.html#editModal" class="btn btn-primary me-2">Edit</a>
            <a data-bs-dismiss="modal" data-bs-toggle="modal" href="patient-list.html#deleteModal" class="btn btn-secondary">Delete Notification</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="modal fade contentmodal" id="editModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content doctor-profile">
        <div class="modal-header">
          <h3 class="mb-0">Edit Patient</h3>
          <button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close">
            <i class="feather-x-circle"></i>
          </button>
        </div>
        <div class="modal-body">
          <form action="patient-list.html">
            <div class="add-wrap">
              <div class="form-group form-focus">
                <input type="text" class="form-control floating" value="Dr. Rayan miller">
                <label class="focus-label">Doctor Name <span class="text-danger">*</span>
                </label>
              </div>
              <label class="mb-1">Patient Image</label>
              <div class="change-photo-btn">
                <div>
                  <i class="feather-upload"></i>
                  <p>Upload File</p>
                </div>
                <input type="file" class="upload">
                <span class="file-upload-text"></span>
              </div>
              <p class="file-name text-success">Successfully Product image.jpg uploaded <a href="patient-list.html#" class="text-danger">
                  <i class="feather-x"></i>
                </a>
              </p>
              <div class="form-group form-focus">
                <input type="text" class="form-control floating" value="$330.00">
                <label class="focus-label">Consultation Fees <span class="text-danger">*</span>
                </label>
              </div>
              <div class="form-group form-focus">
                <input type="text" class="form-control floating" value="Newyork, USA">
                <label class="focus-label">Location <span class="text-danger">*</span>
                </label>
              </div>
              <div class="form-group form-focus">
                <input type="text" class="form-control floating" value="+1 5454 2154 4545">
                <label class="focus-label">Phone <span class="text-danger">*</span>
                </label>
              </div>
              <div class="submit-section">
                <button type="submit" class="btn btn-primary btn-save">Save Changes</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade contentmodal" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content doctor-profile">
        <div class="modal-header border-bottom-0 justify-content-end">
          <button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close">
            <i class="feather-x-circle"></i>
          </button>
        </div>
        <div class="modal-body">
          <div class="delete-wrap text-center">
            <form action="patient-list.html">
              <div class="del-icon">
                <i class="feather-x-circle"></i>
              </div>
              <h2>Sure you Want to delete</h2>
              <p>“Patient”</p>
              <div class="submit-section">
                <button type="submit" class="btn btn-success me-2">Yes</button>
                <a href="patient-list.html#" class="btn btn-danger" data-bs-dismiss="modal">No</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}