{% extends "dashboard/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Abonné(e){% endblock %}


{% block content %}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col-md-12 d-flex justify-content-end">
                    <div class="doc-badge me-3"><a href="/">Accueil</a></div>
                    <div class="doc-badge me-3"><a href="/dashboard/">Tableau de bord</a></div>
                    <div class="doc-badge me-3"><a href="/dashboard/appointment/">Rendez-Vous</a></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-primary">
                                <i class="feather-user-plus"></i>
                            </span>
                            <div class="dash-count">
                                <h5 class="dash-title">{{ appointment.patient.get_name}}</h5>
                                <div class="dash-counts">
                                    <p>Sujet: {{ appointment.subject}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="text">
                            <div class="row mt-5">
                                <div class="col">
                                    <p>Téléphone</p>
                                    <p class="text-primary">{{ appointment.patient.get_phone}}</p>
                                </div>
                                <div class="col">
                                    <p>Sexe</p>
                                    <p class="text-primary">{{ appointment.patient.get_gender}}</p>
                                </div>
                                <div class="col">
                                    <p>Date</p>
                                    <p class="text-primary">{{ appointment.date}}</p>
                                </div>
                                <div class="col">
                                    <p>Heure</p>
                                    <p class="text-primary">{{ appointment.hour}}</p><br />
                                </div>
                            </div>
                        
                            <p>Description</p>
                            <p>{{ appointment.description}}</p>
                        </div>
                        <p class="trade-level mb-0">
                            {{ appointment.timestamp|date:"d M Y"  }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}