{% extends "dashboard/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}About{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'admin/css/feather.css' %}">

<link rel="stylesheet" href="{% static 'admin/plugins/daterangepicker/daterangepicker.css' %}">

<link rel="stylesheet" href="{% static 'admin/plugins/select2/css/select2.min.css' %}">

<link rel="stylesheet" href="{% static 'admin/plugins/datatables/datatables.min.css' %}">
{% endblock %}

{% block content %}

<div class="page-wrapper">

    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col-md-12 d-flex justify-content-end">
                    <a href="{% url 'patient_add' %}" class="btn btn-primary btn-add">
                        <i class="feather-plus-square me-1"></i> Ajouter Patient
                    </a>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                {% include 'message.html' %}
                <div class="card">
                    <div class="card-header border-bottom-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h5 class="card-title">Patients</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="datatable table table-borderless hover-table" id="data-table">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Nom</th>
                                        <th>Numéro d'enregistrement</th>
                                        <th>Téléphone</th>
                                        <th>Sexe</th>
                                        <th>Date de Naissance</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for patient in patients %}
                                    {% include 'dashboard/modal/patient-delete.html' with patient=patient %}
                                    <tr>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#editModal">
                                                    {% if patient.photo.file %}
                                                        <img class="avatar avatar-img" src="{{ patient.photo.file.url }}" alt="{{ patient.photo.first_name|title }}">
                                                    {% else %}
                                                        <img class="avatar avatar-img" src="{% static 'admin/img/products/product1.jpg' %}" alt="{{ patient.photo.first_name|title }}">
                                                    {% endif %}
                                                </a>
                                                <a href="#" data-bs-toggle="modal"
                                                    data-bs-target="#editModal">
                                                    <span>{{ patient.get_name }}</span>
                                                </a>
                                            </h2>
                                        </td>
                                        <td>{{ patient.reg_no }}</td>
                                        <td>{{ patient.get_phone }}</td>
                                        <td>{{ patient.get_gender }}</td>
                                        <td>{{ patient.get_date_of_birth }}</td>
                                        <td>{{ patient.timestamp|date:"d M Y" }}</td>
                                        <td class="text-end">
                                            <div class="actions">
                                                <a href="{{ patient.update_url }}" class="text-black">
                                                    <i class="feather-edit-3 me-1"></i> Modifier
                                                </a>
                                                <a class="text-danger" href="#" data-bs-toggle="modal"
                                                    data-bs-target="#patientDeleteModal-{{ forloop.counter }}">
                                                    <i class="feather-trash-2 me-1"></i> Supprimer
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="tablepagination" class="dataTables_wrapper"></div>
            </div>
        </div>

    </div>
</div>



{% endblock %}



{% block extra_javascript %}
<script src="{% static 'admin/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/plugins/datatables/datatables.min.js' %}"></script>

<script src="{% static 'admin/js/moment.min.js' %}"></script>
<script src="{% static 'admin/plugins/daterangepicker/daterangepicker.js' %}"></script>

<script src="{% static 'admin/plugins/select2/js/select2.min.js' %}"></script>

<script src="{% static 'admin/js/script.js' %}"></script>
{% endblock %}