{% extends "base-admin.html" %}
{% load static %}
{% block title %}Pharmacy Dashboard{% endblock %}


{% block content %}

<div class="page-wrapper">
    <div class="content container-fluid pb-0">
      <h4 class="mb-3">Overview</h4>
      <div class="row">
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card">
            <div class="card-body">
              <div class="dash-widget-header">
                <span class="dash-widget-icon bg-primary">
                  <i class="feather-dollar-sign"></i>
                </span>
                <div class="dash-count">
                  <h5 class="dash-title">Sales Today</h5>
                  <div class="dash-counts">
                    <p>$50.00</p>
                  </div>
                </div>
              </div>
              <p class="trade-level mb-0">
                <span class="text-danger me-1">
                  <i class="fas fa-caret-down me-1"></i>2.05% </span> last week
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card">
            <div class="card-body">
              <div class="dash-widget-header">
                <span class="dash-widget-icon bg-blue">
                  <i class="feather-credit-card"></i>
                </span>
                <div class="dash-count">
                  <h5 class="dash-title">Expense Today</h5>
                  <div class="dash-counts">
                    <p>$5.22</p>
                  </div>
                </div>
              </div>
              <p class="trade-level mb-0">
                <span class="text-success me-1">
                  <i class="fas fa-caret-up me-1"></i>4.5% </span> last week
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card">
            <div class="card-body">
              <div class="dash-widget-header">
                <span class="dash-widget-icon bg-warning">
                  <i class="feather-folder-plus"></i>
                </span>
                <div class="dash-count">
                  <h5 class="dash-title">Medicine</h5>
                  <div class="dash-counts">
                    <p>485</p>
                  </div>
                </div>
              </div>
              <p class="trade-level mb-0">
                <span class="text-success me-1">
                  <i class="fas fa-caret-up me-1"></i>9.65% </span> last week
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
          <div class="card">
            <div class="card-body">
              <div class="dash-widget-header">
                <span class="dash-widget-icon bg-danger">
                  <i class="feather-users"></i>
                </span>
                <div class="dash-count">
                  <h5 class="dash-title">Staff</h5>
                  <div class="dash-counts">
                    <p>50</p>
                  </div>
                </div>
              </div>
              <p class="trade-level mb-0">
                <span class="text-danger me-1">
                  <i class="fas fa-caret-up me-1"></i>40.5% </span> last week
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-7 d-flex">
          <div class="card flex-fill">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="card-title">Revenue</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div id="sales_chart"></div>
            </div>
          </div>
        </div>
        <div class="col-xl-5 d-flex">
          <div class="card flex-fill">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="card-title">Status</h5>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div id="income-report"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header border-bottom-0">
              <div class="row align-items-center">
                <div class="col">
                  <h5 class="card-title">Latest Customers</h5>
                </div>
                <div class="col-auto d-flex">
                  <div class="bookingrange btn btn-white btn-sm">
                    <div class="cal-ico">
                      <span>Select Date</span>
                      <i class="feather-chevron-down ms-1"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table table-borderless hover-table">
                  <thead class="thead-light">
                    <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Address</th>
                      <th>Telephone</th>
                      <th>Email</th>
                      <th class="text-end">Date added</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>01</td>
                      <td>
                        <a href="profile.html">Ruby Perrin</a>
                      </td>
                      <td>takrakka</td>
                      <td>+54 1245463984</td>
                      <td>
                        <a href="https://doccure.dreamguystech.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a3d1d6c1dad3c6d1d1cacdc4e3c6dbc2ced3cfc68dc0ccce">[email&#160;protected]</a>
                      </td>
                      <td class="text-end">April 14, 2022</td>
                    </tr>
                    <tr>
                      <td>02</td>
                      <td>
                        <a href="profile.html">Darren Elder</a>
                      </td>
                      <td>339, Terromont Street</td>
                      <td>+44 874654536</td>
                      <td>
                        <a href="https://doccure.dreamguystech.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="cca8adbebea9a2a9a0a8a9be8ca9b4ada1bca0a9e2afa3a1">[email&#160;protected]</a>
                      </td>
                      <td class="text-end">December 15, 2022</td>
                    </tr>
                    <tr>
                      <td>03</td>
                      <td>
                        <a href="profile.html">Deborah Angel</a>
                      </td>
                      <td>339, Terromont Street</td>
                      <td>+0144 763 351</td>
                      <td>
                        <a href="https://doccure.dreamguystech.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="afcbcacdc0ddcec7cec1c8cac3efcad7cec2dfc3ca81ccc0c2">[email&#160;protected]</a>
                      </td>
                      <td class="text-end">January 22, 2022</td>
                    </tr>
                    <tr>
                      <td>04</td>
                      <td>
                        <a href="profile.html">Marsha Burke</a>
                      </td>
                      <td>2061 Angus Road</td>
                      <td>+510-306-7033</td>
                      <td>
                        <a href="https://doccure.dreamguystech.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="2845495a5b40494a5d5a434d684d50494558444d064b4745">[email&#160;protected]</a>
                      </td>
                      <td class="text-end">August 13, 2022</td>
                    </tr>
                    <tr>
                      <td>05</td>
                      <td>
                        <a href="profile.html">Krystyna Rodriquez</a>
                      </td>
                      <td>takrakka</td>
                      <td>+54 8965722222</td>
                      <td>
                        <a href="https://doccure.dreamguystech.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="741f060d07000d1a15061b10061d0501110e34110c15190418115a171b19">[email&#160;protected]</a>
                      </td>
                      <td class="text-end">May 01, 2022</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}