{% extends "dashboard/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Newsletter{% endblock %}


{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col-md-12 d-flex justify-content-end">
                    <div class="doc-badge me-3"><a href="/">Accueil</a></div>
                    <div class="doc-badge me-3"><a href="/dashboard/">Tableau de bord</a></div>
                    <a href="{% url 'mail_add_newsletter' %}" class="btn btn-primary btn-blog mb-3">Email des personnes</a>
                </div>
            </div>
        </div>

        <div class="page-header">
            <div class="row align-items-center">

                    <div class="row">
                        <div class="col-sm-12">
                            {% include 'message.html' %}
                            <div class="card">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h5 class="card-title">Emails envoyés</h5>
                                        </div>
                                        <div class="col-auto d-flex">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="datatable table table-borderless hover-table" id="data-tables">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>Sujet</th>
                                                    <th>Date</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for mail in mails %}
                                                {% include 'dashboard/newsletter/email-subscriber-detail.html' with mail=mail %}
                                                    <tr>
                                                        <td>
                                                            <h2 class="table-avatar">
                                                                <a href="#">{{ mail.name|title|truncatechars:35 }}</a>
                                                            </h2>
                                                        </td>
                                                        <td>
                                                            <h2 class="table-avatar">
                                                                <a class="avatar-pos" href="#">{{ mail.timestamp|date:"d M Y"  }}</a>
                                                            </h2>
                                                        </td>
                                                        <td class="text-end">
                                                            <div class="actions">
                                                                <a href="patient-list.html#" data-bs-target="#patientlist-{{ forloop.counter }}" data-bs-toggle="modal">
                                                                    <i class="feather-edit-3 me-1"></i> Voir
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</div>


{% endblock %}