{% extends "dashboard/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Profile{% endblock %}


{% block extra_css %}{% endblock %}


{% block content %}


<div class="page-wrapper">
    <div class="content container-fluid content-wrap">

        <div class="row">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col-md-12 d-flex justify-content-end">
                        <div class="doc-badge me-3"><a href="/">Accueil</a></div>
                        <div class="doc-badge me-3"><a href="/dashboard/">Tableau de bord</a></div>
                    </div>
                </div>
            </div>
                    
            <div class="col-md-12">
                {% include 'message.html' %}
                <div class="setting-info profile-info">
                    <form class="custom-validation" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <h4>Informations personnelles</h4>
                    <label class="avatar profile-cover-avatar" for="avatar_upload">
                        {% if profile_photo %}
                            <img class="avatar-img" src="{{ profile_photo }}" alt="Profile Image">
                        {% else %}
                            <img class="avatar-img" src="{% static 'admin/img/person.svg' %}" alt="Profile Image">
                        {% endif %}
                    </label>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ user_form.first_name|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ user_form.last_name|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ profile_form.country|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ profile_form.photo|as_crispy_field }}
                            </div>
                        </div>
                        {% if request.user.role == "Admin" %}
                            <div class="col-md-6">
                                <div class="form-group form-focus">
                                    {{ profile_form.city|as_crispy_field }}
                                </div>
                            </div>
                        {% endif %}
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ profile_form.phone|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ profile_form.date_of_birth|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ profile_form.gender|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ profile_form.position|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ profile_form.address|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ profile_form.facebook|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ profile_form.instagram|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ profile_form.twitter|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ profile_form.linked_in|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    <div class="row mt-auto">
                        <div class="col-md-12">
                            <div class="submit-sec">
                                <button type="submit" class="btn btn-success">Sauvegarder</button>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}




{% block extra_javascript %}
<script src="{% static 'admin/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/plugins/datatables/datatables.min.js' %}"></script>

<script src="{% static 'admin/js/moment.min.js' %}"></script>
<script src="{% static 'admin/plugins/daterangepicker/daterangepicker.js' %}"></script>

<script src="{% static 'admin/plugins/select2/js/select2.min.js' %}"></script>

<script src="{% static 'admin/js/script.js' %}"></script>
{% endblock %}