{% load static %}



<div class="modal fade contentmodal" id="details-{{ forloop.counter }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content doctor-profile">
            <div class="modal-header justify-content-center border-bottom-0">
                <h4 class="modal-title">Détails</h4>
                <button type="button" class="close-btn pos-top" data-bs-dismiss="modal" aria-label="Close"><i
                        class="feather-x-circle"></i></button>
            </div>
            <div class="modal-body">
                <div class="media d-flex align-items-center justify-content-between">
                    <div class="flex-shrink-0 d-flex align-items-center">
            
                        <div class="doc-info">
                            <h6>Produit</h6>
                            <p>{{ sale.product.name|title }}</p>
                        </div>
                    </div>
                </div>
                <div class="member-wrapper">
                    <!-- <h5>Détails</h5> -->
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Prix Unitaire</h6>
                                <p>{{ sale.product.unity_price }}f cfa</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Quantité</h6>
                                <p><span>{{ sale.quantity }}</span></p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Total</h6>
                                    <p>{{ sale.total }}f cfa</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Date</h6>
                                <p>{{ sale.timestamp|date:"d M Y" }}</p>
                            </div>
                        </div>
                       
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>