{% extends "dashboard/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Vente{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'admin/css/feather.css' %}">

<link rel="stylesheet" href="{% static 'admin/plugins/daterangepicker/daterangepicker.css' %}">

<link rel="stylesheet" href="{% static 'admin/plugins/select2/css/select2.min.css' %}">

<link rel="stylesheet" href="{% static 'admin/plugins/datatables/datatables.min.css' %}">
{% endblock %}

{% block content %}

<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col-md-12 d-flex justify-content-end">
                    <div class="doc-badge me-3"><a href="/">Accueil</a></div>
                    <div class="doc-badge me-3"><a href="/dashboard/">Tableau de bord</a></div>
                    <a href="{% url 'sale_add' %}" class="btn btn-primary btn-add">
                        <i class="feather-plus-square me-1"></i> Ajouter une Vente
                    </a>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-sm-12">
                {% include 'message.html' %}
                <div class="card">
                    <div class="card-header border-bottom-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h5 class="card-title">Ventes</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="datatable table table-borderless hover-table" id="data-table">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Référence</th>
                                        <th>Vendeur</th>
                                        <th>Paiement</th>
                                        <th>Facturation</th>
                                        <th>Sous Total</th>
                                        <th>Total Global</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sale in sales %}
                                    {% include 'dashboard/modal/sale-delete.html' with sale=sale %}
                                    {% include 'dashboard/sale/detail.html' with sale=sale %}
                                    <tr>
                                        <td><a href="{{ sale.update_url }}">{{ sale.reference }}</a></td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="#" data-bs-target="#details-{{ forloop.counter }}" data-bs-toggle="modal" >
                                                <span>{{ sale.seller.first_name|title }} {{ sale.seller.last_name|title }}</span>
                                                </a>
                                            </h2>
                                        </td>
                                        <td>{{ sale.payment_mode }}</td>
                                        <td>{{ sale.invoice_type }}</td>
                                        <td>{% if sale.sub_total %}{{ sale.sub_total }}f cfa{% else %}{% endif %}</td>
                                        <td>{% if sale.global_total %}{{ sale.global_total }}f cfa{% else %}{% endif %}</td>
                                       
                                        <td>{{ sale.timestamp|date:"d M Y" }}</td>
                                        
                                        <td class="text-end">
                                            <div class="dropdown card-widgets float-start">
                                                <a href="#" class="dropdown-toggle arrow-none" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="feather-menu"></i>
                                                    <!-- <i class="mdi mdi-dots-vertical"></i> -->
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-start">
                                                    <a href="{{ sale.update_url }}" class="dropdown-item">
                                                        <i class="feather-edit-3 me-1"></i> Modifier
                                                    </a>
                                                    <a  class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#saleDeleteModal-{{ forloop.counter }}">
                                                        <i class="feather-trash-2 me-1"></i> Supprimer
                                                    </a>
                                                    <a href="" class="dropdown-item">
                                                        <i class="feather-download"></i> Télécharger
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}



{% block extra_javascript %}
<script src="{% static 'admin/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'admin/plugins/datatables/datatables.min.js' %}"></script>

<script src="{% static 'admin/js/moment.min.js' %}"></script>
<script src="{% static 'admin/plugins/daterangepicker/daterangepicker.js' %}"></script>

<script src="{% static 'admin/plugins/select2/js/select2.min.js' %}"></script>

<script src="{% static 'admin/js/script.js' %}"></script>
{% endblock %}