{% extends "landing/base.html" %}
{% load static %}
{% block title %}Pharmacy Search{% endblock %}


{% block content %}

<div class="main-wrapper">
    
    <div class="breadcrumb-bar-six">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12 col-12">
            <h2 class="breadcrumb-title">Service</h2>
            <nav aria-label="breadcrumb" class="page-breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Chercher un Service</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="content pharmacy-cart-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-xl-3 theiaStickySidebar">
            <div class="filter-new">
              <div class="filter-header">
                <h4>Categories</h4>
              </div>
              {% if services %}
              <div class="filter-widget filter-checkbox">
                {% for cat in service_categories %}
                <div>
                  <label class="custom_check">
                    <input type="checkbox" name="gender_type">
                     {{ cat.name|title }} </label>
                </div>
                {% endfor %}
              </div>
              {% endif %}
            </div>
            
            
            
          </div>
          <div class="col-lg-9 col-xl-9">
            <div class="filter-info">
              <div class="row align-items-center">
                <div class="col-md-7 col-12 d-md-block custom-short-by">
                  <div class="pharm-viewicon">
                    <p>
                      <span>10</span> Nos services offert
                    </p>
                  </div>
                </div>
                
              </div>
            </div>
            {% for service in services %}
            <div class="card pharmacy-card">
              <div class="card-body">
                <div class="doctor-widget pharmacy-widget">
                  <div class="doc-info-left">
                    <div class="doctor-img1">
                      <a href="pharmacy-details.html">
                        <img src="{{ service.photo.url }}" style="width: 400px; height: 300px; object-fit: cover;" class="img-fluid" alt="">
                      </a>
                      <div class="pharmacy-pro-tags">
                        <span class="pharmacy-closed">Disponible</span>
                      </div>
                    </div>
                    <div class="doc-info-cont">
                      <h4 class="doc-name">
                        <a href="pharmacy-details.html">{{ service.category }}</a>
                      </h4>
                      
                      <div class="clinic-details">
                        <div class="clini-infos">
                          <!--<p class="doc-location">
                            <i class="feather-map-pin"></i> 1430 Pretoria, Los Angeles 12401.
                          </p>-->
                          <p class="doc-location text-ellipse">
                            <i class="feather-tag"></i> {{ service.name }}
                          </p>
                          <p class="doc-location">
                            <i class="feather-clock"></i> 9 AM - 8 PM (Mon - Sat)
                          </p>
                        </div>
                      </div>
                      <div class="pharmacy-booking">
                        <a class="btn view-details-btn" href="{% url 'landing:pharmacy_detail' %}">View Details</a>
                        <a class="btn browse-products-btn" href="{% url 'landing:product' %}">Browse Products</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

            <!--Product Pagination -->

            {% if services %}
              {% include 'landing/pharmacy/service-pagination.html' %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>


{% endblock %}