{% extends "landing/base.html" %}
{% load static %}
{% block title %}Product Detail{% endblock %}


{% block content %}

<body>
    <div class="main-wrapper">

      <div class="breadcrumb-bar-six">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-12 col-12">
              <h2 class="breadcrumb-title">Pharmacy</h2>
              <nav aria-label="breadcrumb" class="page-breadcrumb">
                {% if products %}
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="index.html">Home</a>
                  </li>
                  {% for name in names%}
                  <li class="breadcrumb-item active" aria-current="page">{{ name.name|title }}</li>
                  {% endfor %}
                </ol>
                {% endif %}
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="content pharmacy-cart-content">
        <div class="container">
          <div class="product-description-info">
            
            <div class="row">
              
              <div class="col-lg-5 col-md-6">
                <div class="prod-widget">
                  <div class="deal-pro-img">
                    <div class="deal-pro-tags">
                      <span class="offer">{{ product.discount }}% OFF</span>
                    </div>
                    <a href="product-list.html">
                      <img src="{% static 'assets/img/products/product-14.jpg' %}" alt="" class="img-fluid">
                    </a>
                    <div class="zoom-icon">
                      <a href="javascript:void(0);">
                        <i class="fas fa-expand-arrows-alt"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-7 col-md-6">
                <div class="pro-list">
                  <div class="prod-widget">
                    <div class="deal-pro-detail">
                      <h4>
                        <a href="product-list.html">Protein Chocolate Flake</a>
                      </h4>
                      <ul class="brand-pro">
                        <li>By <span>HealthKart</span>
                        </li>
                        
                      </ul>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                      <div class="pro-pricelist product-description-pricelist">
                        <h2>$120 
                        </h2>
                      </div>
                      <div class="pro-pricelist product-description-count">
                        
                        <a href="cart.html" class="btn book-btn">
                          <img src="{% static 'assets/img/icons/cart-icon.svg' %}" alt="" class="w-auto d-inline-block me-1">Retour </a>
                        <ul>
                          <li>
                            <a href="javascript:void(0);">
                              <i class="feather-heart"></i>
                            </a>
                          </li>
                          <li>
                            <a href="javascript:void(0);">
                              <i class="feather-shuffle"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="product-description-share">
                        <ul>
                          <li>Categories : <span>Sports, Nutritions</span>
                          </li>
                          
                          <li>
                            <span class="in-share">Share :</span>
                            <a href="product-description.html#" target="_blank">
                              <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="product-description.html#" target="_blank">
                              <i class="fab fa-youtube"></i>
                            </a>
                            <a href="product-description.html#" target="_blank">
                              <i class="fab fa-twitter"></i>
                            </a>
                            <a href="product-description.html#" target="_blank">
                              <i class="fab fa-pinterest-p"></i>
                            </a>
                            <a href="product-description.html#" target="_blank">
                              <i class="fab fa-linkedin-in"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
            
          </div>
          <div class="product-description-details">
            <div class="row">
              <div class="col-md-12">
                <div class="product-description-tabs">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link description-link active" id="description-tab" data-bs-toggle="tab" href="product-description.html#description" role="tab" aria-controls="description" aria-selected="true"> Description </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link reviews-link" id="vendor-info-tab" data-bs-toggle="tab" href="product-description.html#vendor" role="tab" aria-controls="vendor" aria-selected="false"> Vendor Info </a>
                    </li>
                    
                  </ul>
                </div>
                <div class="tab-content product-description-tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                    <div class="product-description-content">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat enim ad minim veniam, quriesstrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in volueryptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proi dent, sunt in culpa qui offici area follow deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptate.</p>
                      <p>Dorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat enim ad minim veniam, quriesstrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in volueryptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proi dent, sunt in culpa qui offici area follow deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptate.</p>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="vendor" role="tabpanel" aria-labelledby="vendor-info-tab">
                    <div class="product-description-content">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat enim ad minim veniam, quriesstrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in volueryptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proi dent, sunt in culpa qui offici area follow deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptate.</p>
                      <p>Dorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat enim ad minim veniam, quriesstrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in volueryptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proi dent, sunt in culpa qui offici area follow deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptate.</p>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>

{% endblock %}