{% extends "landing/base.html" %}
{% load static %}
{% block title %}Product List{% endblock %}


{% block content %}

<div class="breadcrumb-bar-six">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-12 col-12">
          <h2 class="breadcrumb-title">Pharmacy</h2>
          <nav aria-label="breadcrumb" class="page-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="index.html">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Products </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="content pharmacy-cart-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-xl-3 theiaStickySidebar">
          <div class="filter-new">
            <div class="filter-header">
              <h4>Shop by Category</h4>
            </div>
            <div class="filter-widget">
              {% if products %}
              <ul>
                {% for cat in product_categories %}
                <li>
                  <a href="javascript:void(0);">{{ cat.name|title }} <span>
                      <i class="fas fa-angle-right"></i>
                    </span>
                  </a>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
          </div>
          <div class="filter-new">
            <div class="filter-header">
              <h4>Price Range</h4>
            </div>
            <div class="filter-widget">
              <div class="filter-content filter-content-slider">
                <div class="slider-wrapper">
                  <div id="price-range"></div>
                </div>
                <div class="price-wrapper">
                  <h6>Price: <span>$ <span id="pricerangemin"></span> - $ <span id="pricerangemax"></span>
                    </span>
                  </h6>
                </div>
              </div>
            </div>
          </div>
          <div class="filter-new">
            <div class="filter-header">
              <h4>By Brands</h4>
            </div>
            <div class="filter-widget">
              {% if products %}
              <ul>
                {% for name in names%}
                <li>
                  <a href="javascript:void(0);">{{ name.name|title }} <span> (22)</span>
                  </a>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
          </div>
          
        </div>
        <div class="col-lg-9 col-xl-9">
          <div class="filter-info">
            <div class="row align-items-center">
              <div class="col-md-7 col-12 d-md-block custom-short-by">
                <div class="pharm-viewicon">
                  <div class="view-icons ">
                    <a href="{% url 'landing:product' %}" class="grid-view">
                      <i class="feather-grid"></i>
                    </a>
                    <a href="{% url 'landing:product_list' %}" class="list-view active">
                      <i class="feather-list"></i>
                    </a>
                  </div>
                  <p>Showing 1–9 of 12 results</p>
                </div>
              </div>
              <div class="col-md-5 col-12 d-md-block custom-short-by">
                <div class="sort-by sort-byone">
                  <span class="sortby-fliter">
                    <select class="select">
                      <option>Default Sorting</option>
                      <option class="sorting">Rating</option>
                      <option class="sorting">Popular</option>
                      <option class="sorting">Latest</option>
                      <option class="sorting">Free</option>
                    </select>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="pro-list">
            {% if products %}
            <div class="row">
              {% for product in products %}
              <div class="col-md-12">
                <div class="prod-widget">
                  <div class="deal-pro-img">
                    <div class="deal-pro-tags">
                      <span class="offer">{{ product.discount }}% OFF</span>
                    </div>
                    <a href="{% url 'landing:product_detail' %}">
                      <img src="{{ product.product_image.file.url }}" style="width: 100%; height: 230px; object-fit: cover;" alt="" class="img-fluid">
                    </a>
                  </div>
                  <div class="deal-pro-detail">
                    <h6>{{ product.category }}</h6>
                    <h4>
                      <a href="product-description.html">{{ product.name }}, {{ product.genetic_name }}</a>
                    </h4>
                    <ul class="brand-pro">
                      <li>Ou <span>{{ product.brand_name }}</span>
                      </li>
                      <li>
                        <ul class="ratings">
                          <li>
                            <a href="javascript:void(0);">
                              <i class="fas fa-star filled"></i>
                            </a>
                          </li>
                          <li>
                            <a href="javascript:void(0);">
                              <i class="fas fa-star filled"></i>
                            </a>
                          </li>
                          <li>
                            <a href="javascript:void(0);">
                              <i class="fas fa-star filled"></i>
                            </a>
                          </li>
                          <li>
                            <a href="javascript:void(0);">
                              <i class="fas fa-star filled"></i>
                            </a>
                          </li>
                          <li>
                            <a href="javascript:void(0);">
                              <i class="fas fa-star"></i>
                            </a>
                          </li>
                          <li>
                            <span>(256)</span>
                          </li>
                        </ul>
                      </li>
                    </ul>
                    <p>{{ product.description }}</p>
                    <div class="pro-pricelist">
                      <h2>CFA {{product.unity_price }} <span>CFA {{product.unity_price }}</span>
                      </h2>
                      <a href="cart.html" class="btn book-btn">
                        <img src="{% static 'assets/img/icons/cart-icon.svg' %}" alt="" class="w-auto d-inline-block me-1"> Add to Cart </a>
                      <ul>
                        <li>
                          <a href="javascript:void(0);">
                            <i class="feather-eye"></i>
                          </a>
                        </li>
                        <li>
                          <a href="javascript:void(0);">
                            <i class="feather-heart"></i>
                          </a>
                        </li>
                        <li>
                          <a href="javascript:void(0);">
                            <i class="feather-shuffle"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            {% endif %}
          </div>
          <!--Product Pagination -->

          {% if products %}
            {% include 'landing/pharmacy/product-pagination.html' %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}