{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>LogSupport - Error 404</title>

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'admin/img/favicon.png' %}">

    <link rel="stylesheet" href="{% static 'admin/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'admin/css/feather.css' %}">

    <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
</head>

<body class="error-page">

    <div class="main-wrapper">
        <div class="header d-none">

            <ul class="nav nav-tabs user-menu">

                <li class="nav-item">
                    <a href="#" id="dark-mode-toggle" class="dark-mode-toggle">
                        <i class="feather-sun light-mode"></i><i class="feather-moon dark-mode"></i>
                    </a>
                </li>

            </ul>

        </div>

        <div class="error-box">
            <img src="{% static 'admin/img/404.png' %}" class="img-fluid" alt="404">
            <h2>Oups ! Cette page est introuvable.</h3>
                <p>La page demandée n'existe pas.</p>
                <a href="/" class="btn btn-primary"><i class="feather-home me-2"></i>Retour à l'accueil</a>
        </div>

    </div>


    <script src="{% static 'admin/js/jquery-3.6.0.min.js' %}"></script>

    <script src="{% static 'admin/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'admin/js/script.js' %}"></script>
</body>


</html>