{% extends "landing/base.html" %}
{% load static %}
{% block title %}About{% endblock %}


{% block content %}

<body class="about-page">

    <div class="main-wrapper">

        <div class="breadcrumb-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12 col-12">
                        <nav aria-label="breadcrumb"
                            class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a
                                        href="/">Home</a></li>
                                <li class="breadcrumb-item active"
                                    aria-current="page">À propos de nous</li>
                            </ol>
                        </nav>
                        <h2 class="breadcrumb-title">À propos de nous</h2>
                    </div>
                </div>
            </div>
        </div>


        <section class="about-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <a href="javascript:voide(0);" class="about-titile
                            mb-4">À propos de Log Support</a>
                        <h3 class="mb-4">Profil de l'entreprise</h3>
                        <p>Log Support est une entreprise médicale qui s'engage à fournir des produits 
                            et des services de santé de haute qualité, accessibles, 
                            abordables et conviviaux. Elle travaille en étroite
                            collaboration avec les prestataires de soins de santé
                            pour veiller à ce que ses produits et services soient
                            accessibles au plus grand nombre. L'engagement de 
                            l'entreprise en faveur de l'excellence se reflète 
                            dans les relations de longue date qu'elle entretient 
                            avec ses clients, qui lui font confiance pour leur fournir 
                            les meilleures solutions possibles en matière de soins de santé.</p>
                        
                        <p class="mb-0">Conscients que les soins de santé peuvent 
                            être accablants, nous nous efforcons de rendre nos services 
                            aussi conviviaux que possible et d'offrir des soins 
                            personnalisés à chaque patient. L'établissement de relations 
                            solides avec les patients est essentiel pour fournir les meilleurs
                            soins possibles, et l'entreprise travaille sans relâche 
                            pour s'assurer que les patients se sentent à l'aise 
                            et soutenus tout au long de leur parcours de soins. 
                            L'entreprise est un partenaire de santé de confiance 
                            qui s'engage à fournir des produits et des 
                            services médicaux de haute qualité.</p>
                        
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
        </section>

        <section class="select-category">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 category-col d-flex">
                        <div class="category-subox pb-0 d-flex flex-wrap
                            w-100">
                            <h4>Visiter un médecin</h4>
                            <p>Nous engageons les meilleurs spécialistes pour vous fournir des services de diagnostic de premier ordre.</p>
                            <div class="subox-img">
                                <div class="subox-circle">
                                    <img src="{% static 'assets/img/icons/vect-01.png' %}"
                                        alt="" width="42">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 category-col d-flex">
                        <div class="category-subox pb-0 d-flex flex-wrap
                            w-100">
                            <h4>Trouver une pharmacie</h4>
                            <p>Nous fournissons une large gamme de services médicaux, afin que chaque personne puisse en bénéficier.</p>
                            <div class="subox-img">
                                <div class="subox-circle">
                                    <img src="{% static 'assets/img/icons/vect-02.png' %}"
                                        alt="" width="42">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 category-col d-flex">
                        <div class="category-subox pb-0 d-flex flex-wrap
                            w-100">
                            <h4>Trouver un laboratoire</h4>
                            <p>Nous utilisons des équipements médicaux de premier ordre pour diagnostiquer rapidement diverses maladies.</p>
                            <div class="subox-img">
                                <div class="subox-circle">
                                    <img src="{% static 'assets/img/icons/vect-03.png' %}"
                                        alt="" width="42">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-featurebox">
            <div class="container">
                <div class="section-header text-center">
                    <h2>Options disponibles dans notre clinique</h2>
                    <p class="sub-title">Log Support est une plateforme de soins de santé
                         qui offre des outils de gestion des patients, et autres services.</p>
                </div>
                <div class="row justify-content-center">
                    <div class="feature-col-list">
                        <div class="feature-col">
                            <div class="feature-subox d-flex flex-wrap
                                justify-content-center">
                                <img
                                    src="{% static 'assets/img/features/feature-07.jpg' %}"
                                    class="img-fluid" alt="Features">
                                <h4>Opération</h4>
                            </div>
                        </div>
                        <div class="feature-col">
                            <div class="feature-subox d-flex flex-wrap
                                justify-content-center">
                                <img
                                    src="{% static 'assets/img/features/feature-09.jpg' %}"
                                    class="img-fluid" alt="Features">
                                <h4>Médical</h4>
                            </div>
                        </div>
                        <div class="feature-col">
                            <div class="feature-subox d-flex flex-wrap
                                justify-content-center">
                                <img
                                    src="{% static 'assets/img/features/feature-08.jpg' %}"
                                    class="img-fluid" alt="Features">
                                <h4>Service des patients</h4>
                            </div>
                        </div>
                        <div class="feature-col">
                            <div class="feature-subox d-flex flex-wrap
                                justify-content-center">
                                <img
                                    src="{% static 'assets/img/features/feature-10.jpg' %}"
                                    class="img-fluid" alt="Features">
                                <h4>Salle de test</h4>
                            </div>
                        </div>
                        <div class="feature-col">
                            <div class="feature-subox d-flex flex-wrap
                                justify-content-center">
                                <img
                                    src="{% static 'assets/img/features/feature-11.jpg' %}"
                                    class="img-fluid" alt="Features">
                                <h4>Unité de Soins Intensifs</h4>
                            </div>
                        </div>
                        <div class="feature-col">
                            <div class="feature-subox d-flex flex-wrap
                                justify-content-center">
                                <img
                                    src="{% static 'assets/img/features/feature-12.jpg' %}"
                                    class="img-fluid" alt="Features">
                                <h4>Laboratoire</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-specialities">
            <div class="container-fluid">
                <div class="section-header text-center">
                    <h2>Services  et Spécialités</h2>
                    <p class="sub-title">Nos activités médicales englobent un large éventail de services spécialisés 
                        visant à promouvoir, maintenir et restaurer la santé et le bien-être.</p>
                </div>
                
                <div class="row justify-content-center">
                    <div class="col-md-9">
                        
                        <div class="specialities-slider slider">
                            {% for service in services %}
                            <div class="speicality-item text-center">
                                <div class="speicality-img">
                                   {% if service.photo %}
                                    <img
                                        src="{{ service.photo.url }}" style="width: 300px; height: 300px; border-radius: 50%; object-fit: cover;"
                                        class="img-fluid" alt="Speciality">
                                    {% else %}
                                    <img
                                        src="{% static 'assets/img/specialities/specialities-01.png' %}"
                                        class="img-fluid" alt="Speciality">
                                    {% endif %}
                                    <span><i class="fa fa-circle"
                                            aria-hidden="true"></i></span>
                                </div>
                                <p>{{ service.category }}</p>
                            </div>
                            {% endfor %}

                            <div class="speicality-item text-center">
                                <div class="speicality-img">
                                    <img
                                        src="{% static 'assets/img/specialities/specialities-02.png' %}"
                                        class="img-fluid" alt="Speciality">
                                    <span><i class="fa fa-circle"
                                            aria-hidden="true"></i></span>
                                </div>
                                <p>Neurologie</p>
                            </div>

                        </div>
                       

                    </div>
                </div>
                
            </div>
        </section>


        <section class="section section-testimonial">
            <div class="container">
                <div class="section-header text-center mb-4">
                    <h2>Témoignages</h2>
                    <p class="sub-title">Témoignages de satisfaction de certains de nos Client </p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-12">

                        <div class="testimonial-slider slider">
                            {% for testimony in testimonies%}
                            <div class="testimonial-item text-center">
                                <div class="testimonial-img">
                                    <img
                                        src="{{ testimony.image.url }}" style="width: 170px; height: 170px; border-radius: 50%; object-fit: contain;"
                                        class="img-fluid" alt="Speciality">
                                </div>
                                <div class="testimonial-content">
                                    <p>{{testimony.description}}</p>
                                    <p class="user-name">- {{testimony.full_name}}</p>
                                    <p class="user-location mb-0">{{testimony.occupation}}</p>
                                </div>
                            </div>
                            {% endfor %}

                        </div>

                    </div>
                </div>
            </div>
        </section>


{% endblock  %}