{% extends "landing/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Contactez{% endblock %}


{% block content %}

<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-12 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Contactez-nous
                        </li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Contactez-nous</h2>
            </div>
        </div>
    </div>
</div>

<section class="contact-section">
    <div class="container">
        {% include 'message.html' %}
        <div class="row mb-5">
            <div class="col-md-12 text-center">
                <h3 class="mb-4">Contactez-nous</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 d-flex">
                <div class="contact-box flex-fill">
                    <div class="infor-img">
                        <div class="image-circle">
                            <i class="feather-phone"></i>
                        </div>
                    </div>
                    <div class="infor-details text-center">
                        <label>Numéro de téléphone</label>
                        <p>+152 534-468-854</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="contact-box flex-fill">
                    <div class="infor-img">
                        <div class="image-circle bg-primary">
                            <i class="feather-mail"></i>
                        </div>
                    </div>
                    <div class="infor-details text-center">
                        <label>Email</label>
                        <p>
                            <a> Test@gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="contact-box flex-fill">
                    <div class="infor-img">
                        <div class="image-circle">
                            <i class="feather-map-pin"></i>
                        </div>
                    </div>
                    <div class="infor-details text-center">
                        <label>Emplacement</label>
                        <p>Congo Brazza</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-form">
    <div class="container">
        <div class="section-header text-center">
            <h2>Entrer en contact!</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form method="POST">{% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.first_name|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.last_name|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form.email|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.subject|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form.phone|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                {{ form.message|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    <button class="btn bg-primary">Envoyer le message</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="contact-map d-flex">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3459.716346058072!2d-95.5565430855612!3d29.872453233633234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640cfe4516785ed%3A0x774974592a609121!2s54%20Northwest%20Fwy%20%23558%2C%20Houston%2C%20TX%2077040%2C%20USA!5e0!3m2!1sen!2sin!4v1631855334452!5m2!1sen!2sin"
        allowfullscreen="" loading="lazy"></iframe>
</section>


{% endblock %}