{% load static %}



<div class="modal fade contentmodal" id="details-{{ forloop.counter }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content doctor-profile">
            <div class="modal-header justify-content-center border-bottom-0">
                <h4 class="modal-title">Détails</h4>
                <button type="button" class="close-btn pos-top" data-bs-dismiss="modal" aria-label="Close"><i
                        class="feather-x-circle"></i></button>
            </div>
            <div class="modal-body">
                <div class="media d-flex align-items-center justify-content-between">
                    <div class="flex-shrink-0 d-flex align-items-center">
                        {% if products %}
                            <img src="{{ product.image.file.url }}" alt="{{ product.image.name|title }}" class="doctor">
                        {% else %}
                            <img src="{% static 'admin/img/products/product1.jpg' %}" alt="{{ product.product_image.name|title }}" class="doctor">
                        {% endif %}

                        
                        <div class="doc-info">
                            <h3>{{ product.name|title }}</h3>
                            <p>{{ product.timestamp|date:"d M Y" }}</p>
                        </div>
                    </div>
                    {% if product.discount %}
                        <div class="media-body">
                            <div class="ratings">
                                <p><i class="fas fa-star filled mr-1"></i>{{ product.discount }}%</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="member-wrapper">
                    <!-- <h5>Détails</h5> -->
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Catégorie</h6>
                                <p>{{ product.category.name|title }}</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Prix Unitaire</h6>
                                <p><span>{{ product.unity_price }}f cfa</span></p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Quantité</h6>
                                <p>{{ product.quantity }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="member-wrapper">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Reduction</h6>
                                <p>{{ product.discount }}%</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Nom Commercial</h6>
                                <p>{{ product.brand_name|title }}</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Nom Générique</h6>
                                <p>{{ product.genetic_name|title }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="member-wrapper">
                    <h5>Description</h5>
                    <div class="row">
                        <div class="col-sm-12">
                            {{ product.description|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>