{% load static %}

<div class="modal fade contentmodal" id="details-{{ forloop.counter }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content doctor-profile">
            <div class="modal-header justify-content-center border-bottom-0">
                <h4 class="modal-title">Détails</h4>
                <button type="button" class="close-btn pos-top" data-bs-dismiss="modal" aria-label="Close"><i
                        class="feather-x-circle"></i></button>
            </div>
            <div class="modal-body">
                <div class="media d-flex align-items-center justify-content-between">
                    <div class="flex-shrink-0 d-flex align-items-center">
                        {% if service.photo %}
                            <img src="{{ service.photo.url }}" alt="{{ service.name|title }}" class="{{ service.name|title }}">
                        {% else %}
                            <img src="{% static 'admin/img/products/product1.jpg' %}" alt="{{ service.name|title }}" class="{{ service.name|title }}">
                        {% endif %}

                        
                        <div class="doc-info">
                            <h3>{{ service.name|title }}</h3>
                            <p>{{ service.timestamp|date:"d M Y" }}</p>
                        </div>
                    </div>
                </div>
                <div class="member-wrapper">
                    <!-- <h5>Détails</h5> -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mem-info">
                                <h6>Structure</h6>
                                <p>{{ service.category.name|title }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="member-wrapper">
                    <h5>Description</h5>
                    <div class="row">
                        <div class="col-sm-12">
                            {{ service.description|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>