{% load static %}

<!--====== Footer Start ======-->
<footer class="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">

                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <img src="{% static 'assets/img/logsup.png' %}" style="height: 6.5rem; width: 10rem; object-fit: cover; border-radius: 25px;" alt="logo">
                        </div>
                        <div class="footer-about-content">
                            <p>Nous vous remercions d'avoir choisi Log Support. 
                                Notre équipe dévouée s'engage à fournir des services 
                                de la plus haute qualité. Nous nous réjouissons 
                                de pouvoir vous servir à l'avenir.</p>
                            <div class="social-icon">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/" target="_blank"><i
                                                class="fab fa-facebook-f"></i> </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/" target="_blank"><i
                                                class="fab fa-twitter"></i> </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/" target="_blank"><i
                                                class="fab fa-linkedin-in"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/" target="_blank"><i
                                                class="fab fa-instagram"></i></a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6">

                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Pour Patients</h2>
                        <ul>
                            <li><a href="{% url 'landing:service' %}">Service</a></li>
                            <li><a href="{% url 'account_login' %}">Connexion</a></li>
                            <li><a href="{% url 'account_login' %}">S'enregistrer</a></li>
                            <li><a href="{% url 'landing:appointment' %}">Rendez-Vous</a></li>
                            <li><a href="{% url 'account_login' %}">Tableau de Board Patient</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6">

                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Pour Docteurs</h2>
                        <ul>
                            <li><a href="{% url 'account_login' %}">Connexion</a></li>
                            <li><a href="{% url 'account_login' %}">S'enregistrer</a></li>
                            <li><a href="{% url 'account_login' %}">Tableau de Board Docteur</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6">

                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title">Contact Us</h2>
                        <div class="footer-contact-info">
                            <div class="footer-address">
                                <span><i class="fas fa-map-marker-alt"></i></span>
                                <p> 3556 Beech Street, Brazza,<br> Congo, Kinshasa 94108 </p>
                            </div>
                            <p>
                                <i class="fas fa-phone-alt"></i>
                                +1 315 369 5943
                            </p>
                            <p class="mb-0">
                                <i class="fas fa-envelope"></i>
                                <a>LogSupport@gmail.com</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="footer-bottom">
        <div class="container">

            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="copyright-text">
                            <p class="mb-0">&copy; 2023 Log Support. Tous droits réservés.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">

                        <div class="copyright-menu">
                            <ul class="policy-menu">
                                <li><a href="term-condition.html">Conditions générales d'utilisation</a></li>
                                <li><a href="privacy-policy.html">Politique</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</footer>

<!--====== Footer End ======-->
