{% extends "landing/base.html" %}
{% load static %}
{% block title %}Home{% endblock %}


{% block content %}

<div class="main-wrapper">

    <section class="section pharm-slide-home">
        <div>
            <div class="slick-wrapper container">
                <div class="pharm-slider">

                    <div class="col-12 d-flex">
                        <div class="col-12 col-md-6 aos" data-aos="fade-up">
                            <div class="slide-image">
                                <h6>Economisez jusqu'à</h6>
                                <h6>25% <span>Dépêchez-vous</span></h3>
                                <p>Bienvenue sur Log Support, où nous fournissons des informations fiables et actualisées sur divers sujets de santé. Notre objectif est de vous aider à prendre des décisions éclairées concernant votre bien-être.</p>
                                <div class="d-inline-block">
                                    <a href="{% url 'landing:product' %}" class="btn book-btn1" tabindex="0">Voir nos produits</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 d-flex justify-content-center aos" data-aos="fade-up">
                            <img src="{% static 'assets/img/doc-slider.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>


                    <div class="col-12 d-flex">
                        <div class="col-12 col-md-6 aos" data-aos="fade-up">
                            <div class="slide-image">
                                <h6>Everyday Save upto</h6>
                                <h2>50% <span>Hurry</span></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>
                                <div class="d-inline-block">
                                    <a href="booking.html" class="btn book-btn1" tabindex="0">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 d-flex justify-content-center aos" data-aos="fade-up">
                            <img src="{% static 'assets/img/doc-slider.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>


                    <div class="col-12 d-flex">
                        <div class="col-12 col-md-6 aos" data-aos="fade-up">
                            <div class="slide-image">
                                <h6>Everyday Save upto</h6>
                                <h2>35% <span>Hurry</span></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>
                                <div class="d-inline-block">
                                    <a href="booking.html" class="btn book-btn1" tabindex="0">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 d-flex justify-content-center aos" data-aos="fade-up">
                            <img src="{% static 'assets/img/doc-slider.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>


                    <div class="col-12 d-flex">
                        <div class="col-12 col-md-6 aos" data-aos="fade-up">
                            <div class="slide-image">
                                <h6>Everyday Save upto</h6>
                                <h2>60% <span>Hurry</span></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.</p>
                                <div class="d-inline-block">
                                    <a href="booking.html" class="btn book-btn1" tabindex="0">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 d-flex justify-content-center aos" data-aos="fade-up">
                            <img src="{% static 'assets/img/doc-slider.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <section class="section-help">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 aos" data-aos="fade-up">
                    <div class="help-box">
                        <span class="bg-lightgreen"><img src="{% static 'assets/img/icons/truck-icon.svg' %}" class="img-fluid"
                                alt=""></span>
                        <div class="help-info">
                            <h5>Livraison gratuite</h5>
                            <p>Pour toute commande supérieure à CFA 50 000</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 aos" data-aos="fade-up">
                    <div class="help-box">
                        <span class="bg-lightwarning"><img src="{% static 'assets/img/icons/empty-wallet.svg' %}" class="img-fluid"
                                alt=""></span>
                        <div class="help-info">
                            <h5>Paiement sécurisé</h5>
                            <p>Paiement 100% sécurisé</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 aos" data-aos="fade-up">
                    <div class="help-box">
                        <span class="bg-lightgrey"><img src="{% static 'assets/img/icons/help-icon.svg' %}" class="img-fluid"
                                alt=""></span>
                        <div class="help-info">
                            <h5>Centre d'assistance 24/7</h5>
                            <p>Assistance dédiée 24h/24, et 7jours/7</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 aos" data-aos="fade-up">
                    <div class="help-box">
                        <span class="bg-lightblue"><img src="{% static 'assets/img/icons/return-icon.svg' %}" class="img-fluid"
                                alt=""></span>
                        <div class="help-info">
                            <h5>Retour Garantie </h5>
                            <p>Garantie de 30 jours le Retour</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section section-deals">
        <div class="container">
            <div class="row">
                <div class="col-md-12 aos" data-aos="fade-up">
                    <div class="section-header sec-head text-center">
                        <h2>Offre du jour</h2>
                        <div class="owl-nav slide-nav-9 nav-control"></div>
                    </div>
                    {% if products %}
                    <div class="deals-sliders owl-carousel owl-theme">
                        {% for product in products %}
                            <div class="deals-box aos" data-aos="fade-up">
                                
                                    <div class="row">
                                        
                                        <div class="col-sm-5">
                                            <div class="deal-pro-img">
                                                {% if discount %}
                                                    <div class="deal-pro-tags">
                                                        <span class="offer">{{ product.discount }} %</span>
                                                        <a href="javascript:void(0);" class="favourite-icon favourite-icon-bg">
                                                            <i class="far fa-heart"></i>
                                                        </a>
                                                    </div>
                                                {% endif %}
                                                {% if product.image %}
                                                    <div class="deal-product-img">
                                                        <a href="{{ product.landing_get_detail_url }}"><img src="{{ product.image.file.url }}" style="width: 100%; height: 230px; object-fit: contain;"
                                                                alt="" class="img-fluid"></a>
                                                    </div>
                                                {% else %}
                                                    <div class="deal-product-img">
                                                        <a href="product-all.html"><img src="{% static 'assets/img/products/product-01.jpg' %}"
                                                                alt="" class="img-fluid"></a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="deal-pro-detail">
                                                <h6>{{ product.category|title }}</h6>
                                                <h4><a href="{{ product.landing_get_detail_url }}">{{ product.name }}, {{ product.genetic_name }} </a></h4>
                                                <ul class="brand-pro">
                                                    <li>Ou <span>{{ product.brand_name }}</span></li>
                                                    
                                                </ul>
                                                <h2>CFA {{product.unity_price }}</h2>
                                                <a href="{{ product.landing_get_detail_url }}" class="btn book-btn"><img
                                                        src="{% static 'assets/img/icons/cart-icon.svg' %}" alt=""
                                                        class="w-auto d-inline-block"> Voir Produits</a>
                                                
                                            </div>
                                        </div>
                                        
                                    </div>
                                
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>


    <section class="section section-categories">
        <div class="container">
            
            <div class="row">
                
                <div class="col-md-12">
                    <div class="section-header sec-head text-center aos" data-aos="fade-up">
                        <h2>Catégories populaires</h2>
                    </div>
                    <div class="popular-category aos" data-aos="fade-up">
                        <div class="category-tab">
                            <ul class="nav justify-content-center">
                                {% for category in categories %}
                                    <li>
                                        <a href="{% url 'landing:product' %}" class="active" 
                                            data-bs-target="#supplyment">{{ category.name|title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                        <div class="tab-content pt-0">
                            
                                <div class="tab-pane active" id="supplyment">
                                    
                                    <div class="pro-slider">
                                        {% for product in products %}
                                        <div class="prod-widget aos" data-aos="fade-up">
                                            <div class="deal-pro-img">
                                                {% if discount %}
                                                <div class="deal-pro-tags">
                                                    <span class="offer">{{ product.discount }} %</span>
                                                    <a href="javascript:void(0);"
                                                        class="favourite-icon favourite-icon-filled">
                                                        <i class="far fa-heart"></i>
                                                    </a>
                                                </div>
                                                {% endif %}
                                                {% if product.image %}
                                                    <a href="{{ product.landing_get_detail_url }}">
                                                        <img src="{{ product.image.file.url }}" alt="" style="width: 100%; height: 265px; object-fit: contain;"
                                                            class="img-fluid">
                                                    </a>
                                                {% else %}
                                                    <a href="product-all.html">
                                                        <img src="{% static 'assets/img/products/product-03.jpg' %}" alt=""
                                                            class="img-fluid">
                                                    </a>
                                                {% endif %}
                                            </div>
                                            <div class="deal-pro-detail">
                                                <h6>{{ product.category|title }}</h6>
                                                <h4><a href="product-all.html">{{ product.name }}, {{ product.genetic_name }}</a></h4>
                                                <ul class="brand-pro">
                                                    <li>Ou <span>{{ product.brand_name }}</span></li>
                                                    
                                                </ul>
                                                <h2>CFA {{product.unity_price }} </h2>
                                                <a href="{{ product.landing_get_detail_url }}" class="btn book-btn"><img
                                                        src="{% static 'assets/img/icons/cart-icon.svg' %}" alt=""
                                                        class="w-auto d-inline-block me-1">Voir Produits</a>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    
                                </div>
                            
                            <!--<div class="tab-pane fade" id="medicines">
                                <div class="pro-slider aos" data-aos="fade-up">
                                    <div class="prod-widget aos" data-aos="fade-up">
                                        <div class="deal-pro-img">
                                            <div class="deal-pro-tags">
                                                <span class="offer">-10% OFF</span>
                                                <a href="javascript:void(0);"
                                                    class="favourite-icon favourite-icon-filled">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </div>
                                            <a href="product-all.html">
                                                <img src="{% static 'assets/img/products/product-06.jpg' %}" alt=""
                                                    class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="deal-pro-detail">
                                            <h6>Sports Nutritions</h6>
                                            <h4><a href="product-all.html">Protein Chocolate Flake</a></h4>
                                            <ul class="brand-pro">
                                                <li>By <span>HealthKart</span></li>
                                                
                                            </ul>
                                            <h2>$190 </h2>
                                            <a href="{% url 'landing:product' %}" class="btn book-btn"><img
                                                    src="{% static 'assets/img/icons/cart-icon.svg' %}" alt=""
                                                    class="w-auto d-inline-block me-1">Voir Products</a>
                                        </div>
                                    </div>
                                    <div class="prod-widget">
                                        <div class="deal-pro-img">
                                            <div class="deal-pro-tags">
                                                <span class="offer">-25% OFF</span>
                                                <a href="javascript:void(0);"
                                                    class="favourite-icon favourite-icon-filled">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </div>
                                            <a href="product-all.html">
                                                <img src="{% static 'assets/img/products/product-03.jpg' %}" alt=""
                                                    class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="deal-pro-detail">
                                            <h6>Vitamins, Health Chocolates</h6>
                                            <h4><a href="product-all.html">Vit D3, 60 tablets, Unflavoured</a></h4>
                                            <ul class="brand-pro">
                                                <li>By <span>HealthKart</span></li>
                                                
                                            </ul>
                                            <h2>$120 </h2>
                                            <a href="{% url 'landing:product' %}" class="btn book-btn"><img
                                                    src="{% static 'assets/img/icons/cart-icon.svg' %}" alt=""
                                                    class="w-auto d-inline-block me-1"> Add to Cart</a>
                                        </div>
                                    </div>
                                    <div class="prod-widget aos" data-aos="fade-up">
                                        <div class="deal-pro-img">
                                            <div class="deal-pro-tags">
                                                <span class="offer">-35% OFF</span>
                                                <a href="javascript:void(0);"
                                                    class="favourite-icon favourite-icon-filled">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </div>
                                            <a href="product-all.html">
                                                <img src="{% static 'assets/img/products/product-04.jpg' %}" alt=""
                                                    class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="deal-pro-detail">
                                            <h6>Sports Nutritions</h6>
                                            <h4><a href="product-all.html">Own Vitamin B1 250mg Tab X</a></h4>
                                            <ul class="brand-pro">
                                                <li>By <span>HealthKart</span></li>
                                                
                                            </ul>
                                            <h2>$350 </h2>
                                            <a href="{% url 'landing:product' %}" class="btn book-btn"><img
                                                    src="{% static 'assets/img/icons/cart-icon.svg' %}" alt=""
                                                    class="w-auto d-inline-block me-1">Voir Produits</a>
                                        </div>
                                    </div>
                                    <div class="prod-widget aos" data-aos="fade-up">
                                        <div class="deal-pro-img">
                                            <div class="deal-pro-tags">
                                                <span class="offer">-15% OFF</span>
                                                <a href="javascript:void(0);"
                                                    class="favourite-icon favourite-icon-filled">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </div>
                                            <a href="product-all.html">
                                                <img src="{% static 'assets/img/products/product-05.jpg' %}" alt=""
                                                    class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="deal-pro-detail">
                                            <h6>Supplements</h6>
                                            <h4><a href="product-all.html">Spring Leaf Liver Detox</a></h4>
                                            <ul class="brand-pro">
                                                <li>By <span>HealthKart</span></li>
                                                
                                            </ul>
                                            <h2>$120 </h2>
                                            <a href="{% url 'landing:product' %}" class="btn book-btn"><img
                                                    src="{% static 'assets/img/icons/cart-icon.svg' %}" alt=""
                                                    class="w-auto d-inline-block me-1"> Voir Produits</a>
                                        </div>
                                    </div>
                                    <div class="prod-widget aos" data-aos="fade-up">
                                        <div class="deal-pro-img">
                                            <div class="deal-pro-tags">
                                                <span class="offer">-10% OFF</span>
                                                <a href="javascript:void(0);"
                                                    class="favourite-icon favourite-icon-filled">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </div>
                                            <a href="product-all.html">
                                                <img src="{% static 'assets/img/products/product-06.jpg' %}" alt=""
                                                    class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="deal-pro-detail">
                                            <h6>Sports Nutritions</h6>
                                            <h4><a href="product-all.html">Protein Chocolate Flake</a></h4>
                                            <ul class="brand-pro">
                                                <li>By <span>HealthKart</span></li>
                                                
                                            </ul>
                                            <h2>$190 </h2>
                                            <a href="{% url 'landing:product' %}" class="btn book-btn"><img
                                                    src="{% static 'assets/img/icons/cart-icon.svg' %}" alt=""
                                                    class="w-auto d-inline-block me-1"> Voir Produits</a>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            <!--<div class="tab-pane fade" id="herbs">
                                <div class="pro-slider">
                                    <div class="prod-widget aos" data-aos="fade-up">
                                        <div class="deal-pro-img">
                                            <div class="deal-pro-tags">
                                                <span class="offer">-15% OFF</span>
                                                <a href="javascript:void(0);"
                                                    class="favourite-icon favourite-icon-filled">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </div>
                                            <a href="product-all.html">
                                                <img src="{% static 'assets/img/products/product-05.jpg' %}" alt=""
                                                    class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="deal-pro-detail">
                                            <h6>Supplements</h6>
                                            <h4><a href="product-all.html">Spring Leaf Liver Detox</a></h4>
                                            <ul class="brand-pro">
                                                <li>By <span>HealthKart</span></li>
                                                
                                            </ul>
                                            <h2>$120 </h2>
                                            <a href="{% url 'landing:product' %}" class="btn book-btn"><img
                                                    src="{% static 'assets/img/icons/cart-icon.svg' %}" alt=""
                                                    class="w-auto d-inline-block me-1"> Add to Cart</a>
                                        </div>
                                    </div>
                                    <div class="prod-widget aos" data-aos="fade-up">
                                        <div class="deal-pro-img">
                                            <div class="deal-pro-tags">
                                                <span class="offer">-25% OFF</span>
                                                <a href="javascript:void(0);"
                                                    class="favourite-icon favourite-icon-filled">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </div>
                                            <a href="product-all.html">
                                                <img src="{% static 'assets/img/products/product-03.jpg' %}" alt=""
                                                    class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="deal-pro-detail">
                                            <h6>Vitamins, Health Chocolates</h6>
                                            <h4><a href="product-all.html">Vit D3, 60 tablets, Unflavoured</a></h4>
                                            <ul class="brand-pro">
                                                <li>By <span>HealthKart</span></li>
                                                
                                            </ul>
                                            <h2>$120 </h2>
                                            <a href="{% url 'landing:product' %}" class="btn book-btn"><img
                                                    src="{% static 'assets/img/icons/cart-icon.svg' %}" alt=""
                                                    class="w-auto d-inline-block me-1"> Add to Cart</a>
                                        </div>
                                    </div>
                                    <div class="prod-widget aos" data-aos="fade-up">
                                        <div class="deal-pro-img">
                                            <div class="deal-pro-tags">
                                                <span class="offer">-35% OFF</span>
                                                <a href="javascript:void(0);"
                                                    class="favourite-icon favourite-icon-filled">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </div>
                                            <a href="product-all.html">
                                                <img src="{% static 'assets/img/products/product-04.jpg' %}" alt=""
                                                    class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="deal-pro-detail">
                                            <h6>Sports Nutritions</h6>
                                            <h4><a href="product-all.html">Own Vitamin B1 250mg Tab X</a></h4>
                                            <ul class="brand-pro">
                                                <li>By <span>HealthKart</span></li>
                                                
                                            </ul>
                                            <h2>$350 </h2>
                                            <a href="{% url 'landing:product' %}" class="btn book-btn"><img
                                                    src="{% static 'assets/img/icons/cart-icon.svg' %}" alt=""
                                                    class="w-auto d-inline-block me-1"> Add to Cart</a>
                                        </div>
                                    </div>
                                    <div class="prod-widget aos" data-aos="fade-up">
                                        <div class="deal-pro-img">
                                            <div class="deal-pro-tags">
                                                <span class="offer">-15% OFF</span>
                                                <a href="javascript:void(0);"
                                                    class="favourite-icon favourite-icon-filled">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </div>
                                            <a href="product-all.html">
                                                <img src="{% static 'assets/img/products/product-05.jpg' %}" alt=""
                                                    class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="deal-pro-detail">
                                            <h6>Supplements</h6>
                                            <h4><a href="product-all.html">Spring Leaf Liver Detox</a></h4>
                                            <ul class="brand-pro">
                                                <li>By <span>HealthKart</span></li>
                                                
                                            </ul>
                                            <h2>$120 </h2>
                                            <a href="{% url 'landing:product' %}" class="btn book-btn"><img
                                                    src="{% static 'assets/img/icons/cart-icon.svg' %}" alt=""
                                                    class="w-auto d-inline-block me-1">Voir Produits</a>
                                        </div>
                                    </div>
                                    <div class="prod-widget aos" data-aos="fade-up">
                                        <div class="deal-pro-img">
                                            <div class="deal-pro-tags">
                                                <span class="offer">-10% OFF</span>
                                                <a href="javascript:void(0);"
                                                    class="favourite-icon favourite-icon-filled">
                                                    <i class="far fa-heart"></i>
                                                </a>
                                            </div>
                                            <a href="product-all.html">
                                                <img src="{% static 'assets/img/products/product-06.jpg' %}" alt=""
                                                    class="img-fluid">
                                            </a>
                                        </div>
                                        <div class="deal-pro-detail">
                                            <h6>Sports Nutritions</h6>
                                            <h4><a href="product-all.html">Protein Chocolate Flake</a></h4>
                                            <ul class="brand-pro">
                                                <li>By <span>HealthKart</span></li>
                                                
                                            </ul>
                                            <h2>$190 </h2>
                                            <a href="{% url 'landing:product' %}" class="btn book-btn"><img
                                                    src="{% static 'assets/img/icons/cart-icon.svg' %}" alt=""
                                                    class="w-auto d-inline-block me-1">Voir Produits</a>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                               
                        </div>
                        

                        
                    </div>

                    <div class="section-header sec-head text-center aos" data-aos="fade-up">
                        <h2>Offres spéciales</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 aos" data-aos="fade-up">
                            <div class="offer-widget bg-yellow">
                                
                                <p>Respirant</p>
                                <h3>Masque Visage</h3>
                                <a href="{% url 'landing:product' %}" class="btn btn-shop">Voir Maintenant</a>
                                <div class="offer-img">
                                    <img src="{% static 'assets/img/mask.png' %}" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 aos" data-aos="fade-up">
                            <div class="offer-widget bg-blue">
                               
                                <p>Obtenez 45% de réduction</p>
                                <h3>Désinfectant </h3>
                                <a href="{% url 'landing:product' %}" class="btn btn-shop">Voir Maintenant</a>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>
            
        </div>
    </section>


    <section class="section section-feature">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header sec-head text-center aos" data-aos="fade-up">
                        <h2>Marques en vedette</h2>
                        <div class="owl-nav slide-nav-10 nav-control"></div>
                    </div>
                    <div class="brand-sliders owl-carousel owl-theme">
                        <div class="features-brand aos" data-aos="fade-up">
                            <div class="features-brand-img">
                                <img src="{% static 'assets/img/brand/brand-01.jpg' %}" alt="" class="img-fluid">
                            </div>
                            <div class="feature-brand-overlay">
                                <div class="feature-brand">
                                    <img src="{% static 'assets/img/brand/brand-logo-01.png' %}" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="features-brand aos" data-aos="fade-up">
                            <div class="features-brand-img">
                                <img src="{% static 'assets/img/brand/brand-02.jpg' %}" alt="" class="img-fluid">
                            </div>
                            <div class="feature-brand-overlay">
                                <div class="feature-brand">
                                    <img src="{% static 'assets/img/brand/brand-logo-02.png' %}" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="features-brand aos" data-aos="fade-up">
                            <div class="features-brand-img">
                                <img src="{% static 'assets/img/brand/brand-03.jpg' %}" alt="" class="img-fluid">
                            </div>
                            <div class="feature-brand-overlay">
                                <div class="feature-brand">
                                    <img src="{% static 'assets/img/brand/brand-logo-03.png' %}" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="features-brand aos" data-aos="fade-up">
                            <div class="features-brand-img">
                                <img src="{% static 'assets/img/brand/brand-04.jpg' %}" alt="" class="img-fluid">
                            </div>
                            <div class="feature-brand-overlay">
                                <div class="feature-brand">
                                    <img src="{% static 'assets/img/brand/brand-logo-04.png' %}" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="features-brand aos" data-aos="fade-up">
                            <div class="features-brand-img">
                                <img src="{% static 'assets/img/brand/brand-02.jpg' %}" alt="" class="img-fluid">
                            </div>
                            <div class="feature-brand-overlay">
                                <div class="feature-brand">
                                    <img src="{% static 'assets/img/brand/brand-logo-02.png' %}" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section section-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12 aos" data-aos="fade-up">
                    <div class="section-header text-center">
                        <h2>De notre blog</h2>
                    </div>
                </div>
                {% for blog in blogs %}
                <div class="col-md-4 aos" data-aos="fade-up">
                    <div class="pharm-grid-blog w-100">
                        <div class="grid-blog-image">
                            <a href="{{ blog.get_detail_url }}">
                                <img class="img-fluid" src="{{ blog.photo.url }}" style="width: 100%; height: 360px; object-fit: cover;" alt="News Image">
                            </a>
                           
                        </div>
                        <div class="blog-content">
                            <h3><a href="{{ blog.get_detail_url }}">{{ blog.name|title }}</a></h3>
                            <p>{{ blog.description|safe|truncatechars:200 }}</p>
                        </div>
                        <a href="{{ blog.get_detail_url }}" class="btn book-btn">En savoir plus <i
                                class="feather-chevron-right"></i></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>


    <section class="section section-client">
        <div class="container">
            <div class="row">
                <div class="col-md-12 aos" data-aos="fade-up">
                    <div class="section-header sec-head text-center">
                        <h2>Nos clients disent !</h2>
                        <p>Découvrez les récits de satisfaction de clients qui ont fait confiance à nos experts</p>
                    </div>
                    <div class="client-slider">
                        {% for testimony in testimonies %}
                        <div class="pharm-testimonials aos" data-aos="fade-up">
                            <div class="card">
                                <div class="card-body">
                                    <div class="pat-info d-flex align-items-center">
                                        {% if testimony.image %}
                                            <img src="{{ testimony.image.url }}" style="width: 100%; height: 120px; object-fit: contain; alt="{{ testimony.full_name|title }}">
                                        {% else %}
                                            <img src="{% static 'assets/img/patients/patient3.jpg' %}" alt="{{ testimony.full_name|title }}">
                                        {% endif %}
                                        <div class="patient-details">
                                            <h5>{{ testimony.full_name|title }}</h5>
                                            <h6>{{ testimony.occupation|safe|truncatechars:20 }}</h6>
                                            
                                        </div>
                                    </div>
                                    <p>{{ testimony.description|truncatewords:250 }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!--<div class="pharm-testimonials aos" data-aos="fade-up">
                            <div class="card">
                                <div class="card-body">
                                    <div class="pat-info d-flex align-items-center">
                                        <img src="{% static 'assets/img/patients/patient13.jpg' %}" alt="">
                                        <div class="patient-details">
                                            <h5>Jenifer Robinson</h5>
                                            <h6>Abignton, USA</h6>
                                            
                                        </div>
                                    </div>
                                    <p>It has survived not only five centuries, but also the leap into electronic
                                        typesetting, remaining essentially unchanged. It was popularised in the
                                        1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                        and more recently with desktop publishing software like Aldus PageMaker
                                        including versions of Lorem </p>
                                </div>
                            </div>
                        </div>
                        <div class="pharm-testimonials aos" data-aos="fade-up">
                            <div class="card">
                                <div class="card-body">
                                    <div class="pat-info d-flex align-items-center">
                                        <img src="{% static 'assets/img/patients/patient8.jpg' %}" alt="">
                                        <div class="patient-details">
                                            <h5>Denise Stevens</h5>
                                            <h6>Abignton, USA</h6>
                                            
                                        </div>
                                    </div>
                                    <p>It has survived not only five centuries, but also the leap into electronic
                                        typesetting, remaining essentially unchanged. It was popularised in the
                                        1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                        and more recently with desktop publishing software like Aldus PageMaker
                                        including versions of Lorem </p>
                                </div>
                            </div>
                        </div>
                        <div class="pharm-testimonials aos" data-aos="fade-up">
                            <div class="card">
                                <div class="card-body">
                                    <div class="pat-info d-flex align-items-center">
                                        <img src="{% static 'assets/img/patients/patient3.jpg' %}" alt="">
                                        <div class="patient-details">
                                            <h5>Norton Anna</h5>
                                            <h6>Abignton, USA</h6>
                                            
                                        </div>
                                    </div>
                                    <p>It has survived not only five centuries, but also the leap into electronic
                                        typesetting, remaining essentially unchanged. It was popularised in the
                                        1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                        and more recently with desktop publishing software like Aldus PageMaker
                                        including versions of Lorem </p>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


{% endblock  %}