{% extends "landing/base.html" %}
{% load static %}
{% block title %}Home{% endblock %}


{% block content %}

<div class="main-wrapper">

    <section class="section pharm-slide-home">
        <div>
            <div class="slick-wrapper container">
                <div class="pharm-slider">

                    <div class="col-12 d-flex">
                        <div class="col-12 col-md-6 aos" data-aos="fade-up">
                            <div class="slide-image">
                                <h6>Economisez jusqu'à</h6>
                                <h6>25% <span>Dépêchez-vous</span></h3>
                                <p>Bienvenue sur Log Support, où nous fournissons des informations fiables et actualisées sur divers sujets de santé. Notre objectif est de vous aider à prendre des décisions éclairées concernant votre bien-être.</p>
                                <div class="d-inline-block">
                                    <a href="{% url 'landing:product' %}" class="btn book-btn1" tabindex="0">Voir nos produits</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 d-flex justify-content-center aos" data-aos="fade-up">
                            <img src="{% static 'assets/img/nurse_1.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>


                    <div class="col-12 d-flex">
                        <div class="col-12 col-md-6 aos" data-aos="fade-up">
                            <div class="slide-image">
                                <h6>Economisez jusqu'à</h6>
                                <h6>25% <span>Dépêchez-vous</span></h6>
                                <p>Sur Log Support, nous vous accueillons avec plaisir. Nous sommes engagés à fournir des renseignements exacts et à jour sur différents sujets liés à la santé. Notre but est de vous aider à prendre des choix avertis en ce qui concerne votre santé et votre bien-être.</p>
                                <div class="d-inline-block">
                                    <a href="{% url 'landing:product' %}" class="btn book-btn1" tabindex="0">Voir nos produits</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 d-flex justify-content-center aos" data-aos="fade-up">
                            <img src="{% static 'assets/img/doctor_1.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>


                    <div class="col-12 d-flex">
                        <div class="col-12 col-md-6 aos" data-aos="fade-up">
                            <div class="slide-image">
                                <h6>Economisez jusqu'à</h6>
                                <h6>25% <span>Dépêchez-vous</span></h6>
                                <p>Log Support fournit des informations fiables sur des sujets liés à la santé. Notre objectif est de vous aider à prendre des décisions éclairées sur votre bien-être. Bienvenue sur notre plateforme de bien-être.</p>
                                <div class="d-inline-block">
                                    <a href="{% url 'landing:product' %}" class="btn book-btn1" tabindex="0">Voir nos produits</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 d-flex justify-content-center aos" data-aos="fade-up">
                            <img src="{% static 'assets/img/nurse_2.png' %}" class="img-fluid" alt="">
                        </div>
                    </div>


                   

                </div>
            </div>
        </div>
    </section>


    <!-- <section class="section-help">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 aos" data-aos="fade-up">
                    <div class="help-box">
                        <span class="bg-lightgreen"><img src="{% static 'assets/img/icons/truck-icon.svg' %}" class="img-fluid"
                                alt=""></span>
                        <div class="help-info">
                            <h5>Livraison gratuite</h5>
                            <p>Pour toute commande supérieure à CFA 50 000</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 aos" data-aos="fade-up">
                    <div class="help-box">
                        <span class="bg-lightwarning"><img src="{% static 'assets/img/icons/empty-wallet.svg' %}" class="img-fluid"
                                alt=""></span>
                        <div class="help-info">
                            <h5>Paiement sécurisé</h5>
                            <p>Paiement 100% sécurisé</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 aos" data-aos="fade-up">
                    <div class="help-box">
                        <span class="bg-lightgrey"><img src="{% static 'assets/img/icons/help-icon.svg' %}" class="img-fluid"
                                alt=""></span>
                        <div class="help-info">
                            <h5>Centre d'assistance 24/7</h5>
                            <p>Assistance dédiée 24h/24, et 7jours/7</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 aos" data-aos="fade-up">
                    <div class="help-box">
                        <span class="bg-lightblue"><img src="{% static 'assets/img/icons/return-icon.svg' %}" class="img-fluid"
                                alt=""></span>
                        <div class="help-info">
                            <h5>Retour Garantie </h5>
                            <p>Garantie de 30 jours le Retour</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->


    <section class="section section-deals">
        <div class="container">
            <div class="row">
                <div class="col-md-12 aos" data-aos="fade-up">
                    <div class="section-header sec-head text-center">
                        <h2>Offre du jour</h2>
                        <div class="owl-nav slide-nav-9 nav-control"></div>
                    </div>
                    {% if products %}
                        <div class="deals-sliders owl-carousel owl-theme">
                            {% for product in products %}
                            
                            {% if product.discount %}
                                <div class="deals-box aos" data-aos="fade-up">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="deal-pro-img">
                                                {% if product.discount %}
                                                    <div class="deal-pro-tags">
                                                        <span class="offer">{{ product.discount }} %</span>
                                                    </div>
                                                {% endif %}
                                                {% if product.image %}
                                                    <div class="deal-product-img">
                                                        <a href="{{ product.landing_get_detail_url }}">
                                                            <img src="{{ product.image.file.url }}" style="width: 100%; height: 230px; object-fit: contain;"
                                                                alt="{{ product.name }}" class="img-fluid">
                                                        </a>
                                                    </div>
                                                {% else %}
                                                    <div class="deal-product-img">
                                                        <a href="product-all.html">
                                                            <img src="{% static 'assets/img/products/product-01.jpg' %}" alt="{{ product.name }}" class="img-fluid">
                                                        </a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-sm-7">
                                            <div class="deal-pro-detail">
                                                <h6>{{ product.category|title }}</h6>
                                                <h4><a href="{{ product.landing_get_detail_url }}">{{ product.name|title }}, {{ product.genetic_name }} </a></h4>
                                                <ul class="brand-pro">
                                                    <li>Ou <span>{{ product.brand_name|title }}</span></li>
                                                </ul>
                                                <h2>CFA {{product.unity_price }}</h2>
                                                <a href="{{ product.landing_get_detail_url }}" class="btn book-btn">
                                                        Voir Produits
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>


    <section class="section section-categories">
        <div class="container">
            
            <div class="row">
                
                <div class="col-md-12">
                    <div class="section-header sec-head text-center aos" data-aos="fade-up">
                        <h2>Catégories populaires</h2>
                    </div>
                    <div class="popular-category aos" data-aos="fade-up">
                        <div class="category-tab">
                            <ul class="nav justify-content-center">
                                {% for category in categories %}
                                    <li>
                                        <a href="{% url 'landing:product' %}?category={{category.slug}}" class="active" 
                                            data-bs-target="#supplyment">{{ category.name|title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                        <div class="tab-content pt-0">
                            <div class="tab-pane active" id="supplyment">
                                <div class="pro-slider">
                                    {% for product in products %}
                                    <div class="prod-widget aos" data-aos="fade-up">
                                        <div class="deal-pro-img">
                                            {% if product.discount %}
                                            <div class="deal-pro-tags">
                                                <span class="offer">{{ product.discount }} %</span>
                                            </div>
                                            {% endif %}
                                            {% if product.image %}
                                                <a href="{{ product.landing_get_detail_url }}">
                                                    <img src="{{ product.image.file.url }}" alt="{{ product.name }}" style="width: 100%; height: 265px; object-fit: contain;"
                                                        class="img-fluid">
                                                </a>
                                            {% else %}
                                                <a href="product-all.html">
                                                    <img src="{% static 'assets/img/products/product-03.jpg' %}" alt="{{ product.name }}"
                                                        class="img-fluid">
                                                </a>
                                            {% endif %}
                                        </div>
                                        <div class="deal-pro-detail">
                                            <h6>{{ product.category|title }}</h6>
                                            <h4><a href="product-all.html">{{ product.name }}, {{ product.genetic_name }}</a></h4>
                                            <ul class="brand-pro">
                                                <li>Ou <span>{{ product.brand_name }}</span></li>
                                            </ul>
                                            <h2>CFA {{product.unity_price }} </h2>
                                            <a href="{{ product.landing_get_detail_url }}" class="btn book-btn">Voir Produits</a>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section section-client">
        <div class="container">
            <div class="row">
                <div class="col-md-12 aos" data-aos="fade-up">
                    <div class="section-header sec-head text-center">
                        <h2>Nos clients disent !</h2>
                        <p>Découvrez les récits de satisfaction de clients qui ont fait confiance à nos experts</p>
                    </div>
                    <div class="client-slider">
                        {% for testimony in testimonies %}
                        <div class="pharm-testimonials aos" data-aos="fade-up">
                            <div class="card" style="border-radius: 15px;">
                                <div class="card-body">
                                    <div class="pat-info d-flex align-items-center">
                                        {% if testimony.image %}
                                            <img src="{{ testimony.image.url }}" style="width: 100%; height: 80px; object-fit: cover; border-radius: 20px;" alt="{{ testimony.full_name|title }}">
                                        {% else %}
                                            <img src="{% static 'assets/img/patients/patient3.jpg' %}" alt="{{ testimony.full_name|title }}">
                                        {% endif %}
                                        <div class="patient-details">
                                            <h5>{{ testimony.full_name|title }}</h5>
                                            <h6>{{ testimony.occupation|safe|truncatechars:20 }}</h6>
                                        </div>
                                    </div>
                                    <p>{{ testimony.description|truncatewords:250 }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


{% endblock  %}