{% load static %}


<div class="header">

    <div class="header-left">
        {% if request.user.role == 'Admin' or request.user.role == 'Docteur' %}
            <a href="{% url 'dashboard' %}" class="logo">
                <img src="{% static 'assets/img/logsup.png' %}"  style="height: 100px; width:100px; object-fit: cover;" alt="Logo">
            </a>
            <a href="{% url 'dashboard' %}" class="logo logo-small">
                <img src="{% static 'assets/img/logsupport_favicon.png' %}"  alt="Logo" width="40" height="40">
            </a>
        {% elif request.user.role == 'Patient'  %}
            <a href="{% url 'patient:home' %}" class="logo">
                <img src="{% static 'assets/img/logsup.png' %}" style="height: 100px; width:100px; object-fit: cover;" alt="Logo">
            </a>
            <a href="{% url 'patient:home' %}" class="logo logo-small">
                <img src="{% static 'assets/img/logsupport_favicon.png' %}" alt="Logo" width="40" height="40">
            </a>
        {% endif %}
        <a href="javascript:void(0);" id="toggle_btn">
            <i class="feather-chevrons-left"></i>
        </a>
    </div>


    <div class="top-nav-search">
        <div class="main">
            <!-- <form class="search" method="post" action="">
                <div class="s-icon"><i class="fas fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Start typing your Search..." />
            </form> -->
        </div>
    </div>


    <a class="mobile_btn" id="mobile_btn">
        <i class="fas fa-bars"></i>
    </a>


    <ul class="nav nav-tabs user-menu">

        
        {% if GLOBAL_NOTIFICATIONS and request.user.is_superuser %}
        <li class="nav-item dropdown noti-nav">
            <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                <i class="feather-bell"></i> <span class="badge"></span>
            </a>
            <div class="dropdown-menu notifications">
                <div class="topnav-dropdown-header">
                    <span class="notification-title">Notifications</span>
                    <a href="{% url 'notification' %}" class="clear-noti">Voir tout</a>
                </div>
                <div class="noti-content">
                    <ul class="notification-list">
                        {% for notification in GLOBAL_NOTIFICATIONS %}
                            <li class="notification-message">
                                <a href="{{ notification.read_url }}">
                                    <div class="media d-flex">
                                        <span class="avatar">
                                            <img class="avatar-img" alt="" src="{% static 'admin/img/person.svg' %}">
                                        </span>
                                        <div class="media-body">
                                            {% if notification.contact %}
                                                <h6>{{ notification.contact }} <span class="notification-time">{{ notification.timestamp|date:"d M Y" }}</span></h6>
                                            {% elif notification.appointment %}
                                                <h6>{{ notification.appointment.patient }} <span class="notification-time">{{ notification.timestamp|date:"d M Y" }}</span></h6>
                                            {% endif %}
                                            <p class="noti-details">{{ notification.subject|safe }}</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </li>
        {% endif %}


        <li class="nav-item dropdown main-drop">
            <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                <span class="user-img">
                    {% if user.user_profile.photo %}
                        <img src="{{ user.user_profile.photo.url }}" alt="{{ user.first_name }} {{ user.first_name }}">
                    {% else %}
                        <img src="{% static 'admin/img/person.svg' %}" alt="{{ user.first_name }} {{  user.last_name  }}">
                    {% endif %}
                    <span class="status online"></span>
                </span>
            </a>
            <div class="dropdown-menu">
                <div class="user-header">
                    <div class="avatar avatar-sm">
                        {% if user.user_profile.photo %}
                        <img src="{{ user.user_profile.photo.url }}" alt="{{ user.first_name }} {{ user.first_name }}"
                            class="avatar-img rounded-circle">
                        {% else %}
                            <img src="{% static 'admin/img/person.svg' %}" alt="{{ user.first_name }} {{ user.first_name }}"
                            class="avatar-img rounded-circle">
                        {% endif %}
                    </div>
                    <div class="user-text">
                        <h6>{{ user.first_name }} {{ user.last_name }}</h6>
                        {% if user.role == "Patient" %}
                            <p class="text-muted mb-0">Patient</p>
                        {% else %}
                            <p class="text-muted mb-0">Administrator</p>
                        {% endif %}
                    </div>
                </div>
                {% if request.user.role == 'Patient'  %}
                    <a class="dropdown-item" href="{% url 'patient:profile' %}"><i class="feather-user me-1"></i> Profil</a>
                {% else %}
                    <a class="dropdown-item" href="{% url 'profile' %}"><i class="feather-user me-1"></i> Profil</a>
                {% endif %}
                <a class="dropdown-item" href="{% url 'account_change_password' %}"><i class="feather-edit me-1"></i> Mot de passe</a>
                <a class="dropdown-item" href="{% url 'account_logout' %}"><i class="feather-log-out me-1"></i> Logout</a>
            </div>
        </li>

    </ul>

</div>
