{% extends "dashboard/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Tableau de bord{% endblock %}


{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid pb-0">
        <h4 class="mb-3">Aperçu</h4>
        <div class="row">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col-md-12 d-flex justify-content-end">
                        <div class="doc-badge me-3"><a href="/">Accueil</a></div>
                        <div class="doc-badge me-3"><a href="/dashboard/">Tableau de bord</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-primary">
                                <i class="feather-user-plus"></i>
                            </span>
                            <div class="dash-count">
                                <h5 class="dash-title">Médecins</h5>
                                <div class="dash-counts">
                                    <p>{{doctor_count}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                {% include 'message.html' %}
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-blue">
                                <i class="feather-users"></i>
                            </span>
                            <div class="dash-count">
                                <h5 class="dash-title">Patients</h5>
                                <div class="dash-counts">
                                    <p>{{patient_count}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-warning">
                                <img src="{% static 'admin/img/icon/calendar.png' %}" alt="User Image">
                            </span>
                            <div class="dash-count">
                                <h5 class="dash-title">Rendez-vous</h5>
                                <div class="dash-counts">
                                    <p>{{appointment_count}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dash-widget-header">
                            <span class="dash-widget-icon bg-danger">
                                <img src="{% static 'admin/img/icon/chart.png' %}" alt="User Image">
                            </span>
                            <div class="dash-count">
                                <h5 class="dash-title">Revenue</h5>
                                <div class="dash-counts">
                                    <p>{{revenu_count}}f cfa</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="section-heading">
                    <h5 class="mb-0">Rendez-vous du mois <span class="num-circle">{{month_s_appointments.count}}</span></h5>
                </div>
            </div>
            <div class="col-md-6 text-end">
                <div class="owl-nav slide-nav-3 text-end nav-control"></div>
            </div>
            <div class="col-md-12">
                <hr class="mt-0">
                <div class="owl-carousel appointment-slider owl-theme">
                    {% for month_appointment in month_s_appointments %}
                    <div class="item">
                        <div class="appointment-item">
                            <div class="app-head">
                                <p>ID de consultation : {{ month_appointment.patient.reg_no }} </p>
                                <div class="con-time">{{ month_appointment.date|date:"d/M" }}</div>
                            </div>
                            <div class="app-user">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="app-img">
                                            {% if month_appointment.patient.user.user_profile.photo %}
                                                <img src="{{ month_appointment.patient.user.user_profile.photo.url }}" alt="{{ month_appointment.patient.get_name }}" class="img-fluid">
                                            {% else %}
                                                <img src="{% static 'admin/img/person.svg' %}" alt="{{ month_appointment.patient.get_name }}" class="img-fluid">
                                            {% endif %}
                                            <div class="app-name">
                                                <h6>{{ month_appointment.patient.get_name }}</h6>
                                                <p>{{ month_appointment.patient.get_gender }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="app-info">
                                <div>
                                    <p>Date/Heure</p>
                                    <h6>{{ month_appointment.date|date:"d M Y" }} - {{ month_appointment.hour}}</h6>
                                </div>
                                <div>
                                    <p>Réservé le</p>
                                    <h6 class="fw-normal">{{ month_appointment.timestamp|date:"d M Y" }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header border-bottom-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h5 class="card-title">Activité récente des patients</h5>
                            </div>
                            <div class="col-auto d-flex">
                                <div class="bookingrange btn btn-white btn-sm">
                                    <div class="cal-ico">
                                        <span>Select Date</span>
                                        <i class="feather-chevron-down ms-1"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-borderless hover-table">
                                <thead class="thead-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>Patient</th>
                                        <th>Téléphone</th>
                                        <th>Membre depuis </th>
                                        <th>Statut</th>
                                        <th class="text-right"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for patient in patients %}
                                        <tr>
                                            <td>{{ patient.reg_no }}</td>
                                            <td>
                                                <h2 class="table-avatar">
                                                    <a href="{% url 'profile' %}">
                                                        {% if patient.user.user_profile.photo %}
                                                            <img class="avatar avatar-img"
                                                            src="{{ patient.user.user_profile.photo.url }}" alt="{{ patient.get_name }}">
                                                        {% else %}
                                                            <img class="avatar avatar-img"
                                                            src="{% static 'admin/img/person.svg' %}" alt="{{ patient.get_name }}">
                                                        {% endif %}
                                                    </a>
                                                    <a href="#" class="user-name">{{ patient.get_name }} 
                                                        <span class="text-muted">{{ patient.get_gender }}</span>
                                                    </a>
                                                </h2>
                                            </td>
                                            <td><span class="disease-name">{{ patient.get_phone }}</span></td>
                                            <td>
                                                <span class="d-block">{{ patient.timestamp|date:"d M Y" }}</span>
                                            </td>
                                            <td>
                                                {% if patient.active %}
                                                    <span class="badge bg-badge-grey text-success">
                                                    <i class="fas fa-circle me-1"></i> Actif</span>
                                                {% else %}
                                                    <span class="badge bg-badge-grey text-success">
                                                    <i class="fas fa-circle me-1"></i> Inactif</span>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title">Médecins</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table doc-table">
                                <tbody>
                                    {% for doctor in doctors %}
                                        <tr>
                                            <td>
                                                <h2 class="table-avatar">
                                                    <a class="avatar-pos avatar-online" href="#">
                                                        {% if doctor.user_profile.photo %}
                                                            <img class="avatar avatar-img"
                                                            src="{{ doctor.user_profile.photo.url }}" alt="{{ doctor.first_name }}">
                                                        {% else %}
                                                            <img class="avatar avatar-img"
                                                            src="{% static 'admin/img/person.svg' %}" alt="{{ patient.get_name }}">
                                                        {% endif %}
                                                    </a>
                                                    <a href="#" class="user-name">
                                                        <span class="text-muted">{{ doctor.first_name }} {{ doctor.last_name }}</span> 
                                                        <span class="tab-subtext">{{ doctor.email }}</span>
                                                    </a>
                                                </h2>
                                            </td>
                                            <td class="text-right"><span class="text-muted">{{ doctor.prescription_received_by.count }} Patients</span></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-xl-12 col-md-12">
                <div class="card recent-card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title">Ordonnances récentes</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive recent-tab">
                            <table class="table table-borderless">
                                <tbody>
                                    {% for prescription in prescriptions %}
                                        <tr>
                                            <td>
                                                <div class="pres-list">
                                                    <div class="pres-body">
                                                        <div>
                                                            <p>Prescrit par </p>
                                                            <h6>{{ prescription.received_by.first_name }} {{ prescription.received_by.last_name }}</h6>
                                                        </div>
                                                        <div>
                                                            <p>Prescrit pour</p>
                                                            <h6>{{ prescription.appointment.patient.get_name }}</h6>
                                                        </div>
                                                        <div>
                                                            <p>Poids</p>
                                                            <h6>{{ prescription.weight }}</h6>
                                                        </div>
                                                        <div>
                                                            <p>Température Corporelle</p>
                                                            <h6>{{ prescription.body_temperature }}</h6>
                                                        </div>
                                                        <div>
                                                            <p>Date </p>
                                                            <h6 class="text-muted">{{ prescription.timestamp|date:"d M Y" }}</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                <tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}