{% load static %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                {% if request.user.role == 'Admin' or request.user.role == 'Docteur'  %}
                    <li class="">
                        <a href="{% url 'dashboard' %}"><i class="feather-home"></i> <span>Tableau de bord</span></a>
                    </li>
                    <li class="menu-title"><span>Produits</span></li>
                    <li class="">
                        <a href="{% url 'product_category' %}"><i class="feather-airplay"></i> <span>Catégorie</span></a>
                    </li>
                    <li class="">
                        <a href="{% url 'product_image' %}"><i class="feather-image"></i> <span>Image</span></a>
                    </li>
                    <li class="">
                        <a href="{% url 'product' %}"><i class="feather-gift"></i> <span>Produit</span></a>
                    </li>



                    <li class="menu-title">
                        <span>Service</span>
                    </li>
                    <li class="">
                        <a href="{% url 'service_category' %}"><i class="feather-compass"></i> <span>Catégorie</span></a>
                    </li>
                    <li class="">
                        <a href="{% url 'service' %}"><i class="feather-clipboard"></i> <span>Service</span></a>
                    </li>

                    <li class="menu-title">
                        <span></span>
                    </li>


                    <li class="">
                        <a href="{% url 'user' %}"><i class="feather-users"></i> <span>Utilisateur</span></a>
                    </li>

                    <li class="">
                        <a href="{% url 'patient' %}"><i class="feather-user-plus"></i> <span>Patient </span></a>
                    </li>

                    <li class="menu-title"><span>Gestion Stock</span></li>
                    <li class="">
                        <a href="{% url 'supplier' %}"><i class="feather-truck"></i> <span>Fournisseur</span></a>
                    </li>

                    <li class="">
                        <a href="{% url 'stock_category' %}"><i class="feather-copy"></i> <span>Catégorie Stock</span></a>
                    </li>
                    
                    <li class="">
                        <a href="{% url 'stock' %}"><i class="feather-database"></i> <span>Stock</span></a>
                    </li>
                    

                    <li class="menu-title">
                        <span>Rendez-vous</span>
                    </li>
                    <li class="">
                        <a href="{% url 'appointment_symptom' %}"><i class="feather-eye"></i> <span>Symptôme</span></a>
                    </li>
                    <li class="">
                        <a href="{% url 'appointment' %}"><i class="feather-calendar"></i> <span>Rendez-vous</span></a>
                    </li>
                    <li class="">
                        <a href="{% url 'appointment_prescription' %}"><i class="feather-edit"></i> <span>Ordonnance</span></a>
                    </li>

                    <li class="menu-title">
                        <span>Ventes</span>
                    </li>
                    <li class="">
                        <a href="{% url 'sale' %}"><i class="feather-dollar-sign"></i> <span>Vente</span></a>
                    </li>


                    <li class="submenu">
                        <a href="#"><i class="feather-file-text"></i> <span> Rapport</span> <span
                                class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="{% url 'rapport_quotidien' %}">Quotidien</a></li>
                            <li><a href="{% url 'rapport_hebdomadaire' %}">Hebdomadaire</a></li>
                            <li><a href="{% url 'rapport_mensuel' %}">Mensuel</a></li>
                            <li><a href="{% url 'rapport_annuel' %}">Annuellement</a></li>
                        </ul>
                    </li>


                    <li class="menu-title">
                        <span>Blog</span>
                    </li>
                    <li class="">
                        <a href="{% url 'blog_category' %}"><i class="feather-award"></i> <span>Catégorie</span></a>
                    </li>
                    <li class="">
                        <a href="{% url 'blog' %}"><i class="feather-feather"></i> <span>Blog</span></a>
                    </li>


                    <li class="menu-title">
                        <span>Newsletter</span>
                    </li>
                    <li class="">
                        <a href="{% url 'newsletter' %}"><i class="feather-user-x"></i> <span>Abonnées</span></a>
                    </li>
                    <li class="">
                        <a href="{% url 'mail_newsletter' %}"><i class="feather-send"></i> <span>Email Envoyé</span></a>
                    </li>


                    <li class="menu-title">
                        <span></span>
                    </li>

                    <li class="">
                        <a href="{% url 'fridge' %}"><i class="feather-flag"></i> <span>Gestion de Froid</span></a>
                    </li>

                    <li class="">
                        <a href="{% url 'testimony' %}"><i class="feather-layers"></i> <span>Témoignage</span></a>
                    </li>
                    <li class="">
                        <a href="{% url 'partner' %}"><i class="feather-link"></i> <span>Partenaire</span></a>
                    </li>
                {% endif %}

                {% if request.user.role == 'Patient' %}
                    <li class="">
                        <a href="{% url 'patient:home' %}"><i class="feather-home"></i> <span>Tableau de bord</span></a>
                    </li>
                    <li class="">
                        <a href="{% url 'patient:appointment' %}"><i class="feather-calendar"></i> <span>Rendez-vous </span></a>
                    </li>
                    <li class="">
                        <a href="{% url 'patient:symptom' %}"><i class="feather-eye"></i> <span>Symptôme </span></a>
                    </li>
                    <li class="">
                        <a href="{% url 'patient:prescription' %}"><i class="feather-edit"></i> <span>Ordonnance </span></a>
                    </li>
                {% endif %}
                
            </ul>
        </div>
    </div>
</div>