{% load static %}



<div class="modal fade contentmodal" id="details-{{ forloop.counter }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content doctor-profile">
            <div class="modal-header justify-content-center border-bottom-0">
                <h4 class="modal-title">Détails</h4>
                <button type="button" class="close-btn pos-top" data-bs-dismiss="modal" aria-label="Close"><i
                        class="feather-x-circle"></i></button>
            </div>
            <div class="modal-body">
                <div class="media d-flex align-items-center justify-content-between">
                    <div class="flex-shrink-0 d-flex align-items-center">
                        {% if user.user_profile.photo %}
                            <img src="{{ user.user_profile.photo.url }}" alt="{{ user.first_name|title }} {{ user.last_name|title }}" class="doctor">
                        {% else %}
                            <img src="{% static 'admin/img/person.svg' %}" alt="{{ user.first_name|title }} {{ user.last_name|title }}" class="doctor">
                        {% endif %}

                        
                        <div class="doc-info">
                            {% if user.first_name or user.last_name %}
                                <h3>{{ user.first_name|title }} {{ user.last_name|title }}</h3>
                            {% else %}
                                <h3 class="text-danger">Nom et prénom n'existent pas</h3>
                            {% endif %}
                            <p>{{ user.user_profile.timestamp|date:"d M Y" }}</p>
                        </div>
                    </div>
                </div>
                <div class="member-wrapper">
                    <!-- <h5>Détails</h5> -->
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Email</h6>
                                <p>{{ user.email }}</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Rôle</h6>
                                <p><span>{{ user.role|title }}</span></p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Téléphone</h6>
                                {% if user.user_profile.phone %}
                                    <p>{{ user.user_profile.phone }}</p>
                                {% else %}
                                    <p class="text-danger">Est manquant</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="member-wrapper">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Date de Naissance</h6>
                                {% if user.user_profile.date_of_birth %}
                                    <p>{{ user.user_profile.date_of_birth }}</p>
                                {% else %}
                                    <p class="text-danger">Est manquante</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Pays</h6>
                                {% if user.user_profile.country %}
                                    <p>{{ user.user_profile.country }}</p>
                                {% else %}
                                    <p class="text-danger">Est manquant</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Ville</h6>
                                {% if user.user_profile.city %}
                                    <p>{{ user.user_profile.city }}</p>
                                {% else %}
                                    <p class="text-danger">Est manquante</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="member-wrapper">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Sexe</h6>
                                {% if user.user_profile.gender %}
                                    <p>{{ user.user_profile.gender }}</p>
                                {% else %}
                                    <p class="text-danger">Est manquant</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Profession</h6>
                                {% if user.user_profile.position %}
                                    <p>{{ user.user_profile.position }}</p>
                                {% else %}
                                    <p class="text-danger">Est manquante</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Adresse</h6>
                                {% if user.user_profile.address %}
                                    <p>{{ user.user_profile.address }}</p>
                                {% else %}
                                    <p class="text-danger">Est manquante</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="member-wrapper">
                    <h5>Info supplémentaire</h5>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Facebook</h6>
                                {% if user.user_profile.facebook %}
                                    <p><a href="{{ user.user_profile.facebook }}" target="_blank">Ouvrir</a></p>
                                {% else %}
                                    <p class="text-danger">Est manquant</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Instagram</h6>
                                {% if user.user_profile.instagram %}
                                    <p><a href="{{ user.user_profile.instagram }}" target="_blank">Ouvrir</a></p>
                                {% else %}
                                    <p class="text-danger">Est manquante</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mem-info">
                                <h6>Twitter</h6>
                                {% if user.user_profile.twitter %}
                                    <p><a href="{{ user.user_profile.twitter }}" target="_blank">Ouvrir</a></p>
                                {% else %}
                                    <p class="text-danger">Est manquante</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>