{% extends "dashboard/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Utilisateur{% endblock %}


{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col-md-12 d-flex justify-content-end">
                    <div class="doc-badge me-3"><a href="/">Accueil</a></div>
                    <div class="doc-badge me-3"><a href="/dashboard/">Tableau de bord</a></div>
                    <a href="{% url 'user_add' %}" class="btn btn-primary btn-blog mb-3">Ajouter un Utilisateur</a>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                {% include 'message.html' %}
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col">
                                <h5 class="card-title">Utilisateurs</h5>
                            </div>
                            <div class="col-auto d-flex">
                                
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="datatable table table-borderless hover-table" id="data-tables">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Nom</th>
                                        <th>Prénom</th>
                                        <th>Email</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    {% include 'dashboard/modal/user-delete.html' with user=user %}
                                    <tr>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="#">
                                                    {% if user.user_profile.photo %}
                                                        <img class="avatar avatar-img" src="{{ user.user_profile.photo.url }}" alt="{{ user.get_full_name }}">
                                                    {% else %}
                                                        <img class="avatar avatar-img"
                                                        src="{% static 'admin/img/person.svg' %}"
                                                        alt="Photo">
                                                    {% endif %}
                                                </a>
                                                {% if user.first_name %}
                                                    <a href="#"><span class="user-name">{{ user.first_name|title }}</span></a>
                                                {% else %}
                                                    <a href="#"><span class="user-name text-danger">Nom n'existe pas</span></a>
                                                {% endif %}
                                            </h2>
                                        </td>
                                        <td>
                                            <h2 class="table-avatar">
                                                {% if user.last_name %}
                                                <a href="#">{{ user.last_name|title }}</a>
                                                {% else %}
                                                    <a href="#" class="user-name text-danger">Prenom existe pas</a>
                                                {% endif %}
                                            </h2>
                                        </td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a href="#">{{ user.email|title }}</a>
                                            </h2>
                                        </td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a class="avatar-pos" href="#">{{ user.user_profile.timestamp|date:"d M Y" }}</a>
                                            </h2>
                                        </td>
                                        <td class="text-end">
                                            <div class="actions">
                                                <a href="{{ user.update_url }}" class="text-black">
                                                    <i class="feather-edit-3 me-1"></i> Modifier
                                                </a>
                                                <a class="text-danger" href="#" data-bs-toggle="modal"
                                                    data-bs-target="#userDeleteModal-{{ forloop.counter }}">
                                                    <i class="feather-trash-2 me-1"></i> Supprimer
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}