{% extends "dashboard/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Mettre à jour l'utilisateur{% endblock %}


{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="row">
            <div class="col-md-12">
                <h5 class="mb-3">Mettre à jour l'utilisateur</h5>
                <form class="custom-validation" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ form.first_name|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ form.last_name|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ form.role|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ profile.photo|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ profile.phone|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ profile.date_of_birth|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ profile.country|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ profile.city|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ profile.address|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ profile.gender|as_crispy_field }}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ profile.position|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ profile.facebook|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ profile.instagram|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ profile.twitter|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group form-focus">
                                {{ profile.linked_in|as_crispy_field }}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary save-btn">Mettre à jour</button>
                </form>
            </div>
        </div>

    </div>
</div>


{% endblock %}