{% extends "dashboard/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Ajouter un fournisseur{% endblock %}


{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="row">
            <div class="col-md-12">
                <h5 class="mb-3">Ajouter un fournisseur</h5>
                <form class="custom-validation" method="POST">{% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ form.name|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ form.email|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ form.phone|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ form.country|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ form.city|as_crispy_field }}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ form.address|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ form.website|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ form.facebook_link|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ form.twitter_link|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-focus">
                                {{ form.instagram_link|as_crispy_field }}
                            </div>
                        </div>
                        
                    </div>
                    <button type="submit" class="btn btn-primary save-btn">Ajouter</button>
                </form>
            </div>
        </div>

    </div>
</div>


{% endblock %}